/* font */
* {
	font-family: "Noto Sans KR", sans-serif;
}

/* normalize */
body,
ul,
li {
	margin: 0;
	padding: 0;
	list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	margin-bottom: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
a.a-hover:hover {
    cursor: pointer;
}
input:focus,
select:focus,
option:focus,
textarea:focus,
button:focus {
	outline: none;
}
button:hover {
    cursor: pointer;
}
.icon {
    font-size: inherit;
}
section {
	width: 1000px;
	margin: 0 auto;
	/* 	border: 1px solid rgb(0, 0, 0, 0.3); */
}
section.form {
	width: 400px;
	margin: 0 auto;
}
section.form-medium {
    width: 600px;
	margin: 0 auto;
	/* border: 1px solid rgb(128, 128, 128); */
}
.input-box {
	display: flex;
	flex-direction: column;
}
.btn {
	background-color: rgb(128, 128, 128);
	padding: 8px 16px;
	border-radius: 0.3rem;
	color: white;
	border: none;
	font-size: 0.8rem;
}
.btn:hover {
    background-color: black;
    cursor: pointer;
}
.btn-sm {
	background-color: rgb(128, 128, 128);
	padding: 5px 10px;
	border-radius: 0.3rem;
	color: white;
	border: none;
	font-size: 0.8rem;
}
.btn-sm:hover {
    background-color: black;
    cursor: pointer;
}
.btn-long {
	width: 100%;
}
.sort-btn {
	border: none;
	color: rgb(128, 128, 128);
	background-color: rgb();
}
.search-btn {
	color: black;
	font-size: 0.9rem;
	margin: 0 10px;
}
.icon-btn {
    margin: 0;
    padding: 0;
    border: none;
    background-color: inherit;
    font-size: inherit;
    color: rgb(128, 128, 128);
}
.icon-btn:hover {
    color: black;
    cursor: pointer;
}
.comment-number {
	color: rgb(128, 128, 128);
}
.page-list {
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}
.page-list > li {
	/* 	border: 1px solid red; */
	width: 35px;
	height: 30px;
	line-height: 30px;
	font-size: 0.8rem;
	color: rgb(128, 128, 128);
	text-align: center;
	border-top: 1px solid rgb(128, 128, 128);
	border-bottom: 1px solid rgb(128, 128, 128);
	border-left: 1px solid rgb(128, 128, 128);
}
.page-list > li:hover {
    cursor: pointer;
}
.page-list > li.disabled:hover {
    cursor: default;
}
.page-list > li.page-start {
	border-top-left-radius: 0.5rem;
	border-bottom-left-radius: 0.5rem;
}
.page-list > li.page-end {
	border-right: 1px solid rgb(128, 128, 128);
	border-top-right-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
}
.page-list > li.page-active {
	color: rgba(0, 0, 0);
	font-weight: bold;
}
.page-list > li.page-now {
	color: rgba(255, 255, 255);
	font-weight: bold;
	background-color: rgb(128, 128, 128);
}
.editor-toolbar {
    border: 1px solid rgb(128, 128, 128);
    opacity: 1;
}
.editor-toolbar:hover {
    border: 1px solid rgb(128, 128, 128);
    opacity: 1;
}
.editor-toolbar * {
    opacity: 0.6;
}
.editor-toolbar:hover * {
    opacity: 0.8;
}
.CodeMirror {
    border: solid rgb(128, 128, 128);
    border-width: 0 1px 1px 1px;
}
.editor-statusbar {
    display: none;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* nav-bar-section css */
.nav-bar-section {
    margin-top: 10px;
	height: 90px;
	/* 	border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-bar-section > .left-box {
	display: flex;
}
.nav-bar-section > .left-box > .logo-box {
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 90px;
	margin-top:10px;
	display: flex;
	align-items: center;
}
.nav-bar-section > .left-box > .logo-box > a {
    display: flex;
    align-items: center;
    height: 55px;
    line-height: 55px;
}
.nav-bar-section > .left-box > .logo-box > a > img{
	height: 55px;
}


.nav-bar-section > .left-box > .left-nav > li {
	display: inline-block;
	line-height: 90px;
	margin-left: 20px;
	margin-top:10px
}

.nav-bar-section > .right-box > .right-nav > li {
	display: inline-block;
	line-height: 90px;
	margin-left: 20px;
}

/* top-banner-section css */
.top-banner-section {
    width: 100%;
	height: 500px;
	position: relative;
	overflow: hidden;
	margin-top: 50px;
}
.top-banner-section > .cover {
	width: 100%;
	height: 500px;
	background-color: rgb(128, 128, 128);
	position: absolute;
	top: 0;
	opacity: 0.7;
	display: flex;
	align-items: center;
}
.top-banner-section > .cover > button {
	font-size: 2rem;
	display: flex;
	border-radius: 50%;
	border: none;
	padding: 0;
	transition: all 0.15s ease-in-out;
	background-color: black;
	opacity: 0.3;
}
.top-banner-section > .cover > button > i {
	background-color: white;
	border-radius: 50%;
}
.top-banner-section > .cover > button:hover {
	cursor: pointer;
	transform: scale(1.25, 1.25);
	opacity: 1;
}
.top-banner-section > .cover.cover-left {
	right: calc(50% + 510px);
	justify-content: flex-end;
}
.top-banner-section > .cover.cover-left > .left-btn {
	margin-right: 10px;
}
.top-banner-section > .cover.cover-right {
	left: calc(50% + 510px);
	justify-content: flex-start;
}
.top-banner-section > .cover.cover-right > .right-btn {
	margin-left: 10px;
}
.top-banner-section > .container {
	width: 1000px;
	height: 500px;
	/* 	background-color: black; */
	margin: 0 auto;
	position: relative;
}
.top-banner-section > .container > .swiper {
	position: absolute;
	display: flex;
	top: 0;
	left: -3000px;
}
.top-banner-section > .container > .swiper:hover {
	cursor: grab;
}
.top-banner-section > .container > .swiper > .img-box {
	padding: 0 10px;
}
.top-banner-section > .container > .swiper > .img-box > img {
	width: 980px;
	height: 500px;
	object-fit: cover;
	/* 	border: 10px solid red;
	box-sizing: border-box; */
}


/* signup-form-section css */
.signup-form-section > .logo-box {
    font-weight: bold;
	font-size: 2.5rem;
	line-height: 90px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.signup-form-section > .logo-box > img {
	height:60px;
}


.signup-form-section > .signup-form > .input-box input {
	height: 40px;
	padding: 0 10px;
	font-size: 0.7rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}

.signup-form-section > .signup-form > .input-box input:focus {
	outline: 2px solid rgb(128, 128, 128);
}

.signup-form-section > .signup-form > .input-box > div {
	display: flex;
}
.signup-form-section > .signup-form > .input-box > .three-part > input {
	width: 100%;
}
.signup-form-section
	> .signup-form
	> .input-box
	> .three-part
	> input.margined {
	margin-right: 5px;
}
.signup-form-section > .signup-form > .input-box > .two-part {
	position: relative;
}

.signup-form-section > .signup-form > .input-box > .two-part > .btn-box {
	position: relative;
}
.signup-form-section > .signup-form > .input-box > .two-part > .btn-box > .btn {
	height: 100%;
	white-space: nowrap;
}

.signup-form-section
	> .signup-form
	> .input-box
	> .two-part
	> .btn-box
	> .timer {
	position: absolute;
	top: 0;
	left: 0;
	background-color: black;
	width: 100%;
	height: 100%;
	border-radius: 0.3rem;
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	display: none;
}

.signup-form-section > .signup-form > .input-box > .two-part > input {
	margin-right: 5px;
	flex: 1 1 auto;
}

.signup-form-section > .signup-form > .input-box > .two-part > .modify-btn {
	position: absolute;
	right: 32%;
	top: 50%;
	transform: translate(0, -50%);
	display: none;
	cursor : pointer;
}

.signup-form-section > .signup-form > .input-box > .error {
	padding: 0 10px;
	font-size: 0.7rem;
	color: red;
	height: 25px;
	line-height: 20px;
	/* 		visibility: hidden; opacity: 0; */
}
.signup-form-section > .signup-form > .btn-long {
	height: 40px;
}

/* login-form-section css */
.login-form-section > .logo-box {
	display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.login-form-section > .logo-box > img {
	height:70px;
}

.login-form-section > .login-form > .input-box input {
	height: 40px;
	padding: 0 10px;
	font-size: 0.9rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}
.login-form-section > .login-form > .input-box > div {
	display: flex;
}
.login-form-section > .login-form > .input-box > .three-part > input {
	width: 100%;
}
.login-form-section > .login-form > .input-box > .three-part > input.margined {
	margin-right: 5px;
}
.login-form-section > .login-form > .input-box > .two-part > input {
	margin-right: 5px;
	flex: 1 1 auto;
}
.login-form-section > .login-form > .input-box > .error {
	padding: 0 10px;
	font-size: 0.7rem;
	color: red;
	height: 25px;
	line-height: 20px;
	/* 		visibility: hidden; opacity: 0; */
}
.login-form-section > .login-form > .btn-long {
	height: 40px;
}

.login-form-section > .link-box {
	display: flex;
	justify-content: flex-end;
	margin-top: 5px;
	align-items: center;
	font-size: 0.8rem;
}
.login-form-section > .link-box > .delimiter {
	margin: 0 5px;
	margin-top: 2px;
	border: 1px solid;
	height: 0.5rem;
}

.login {
	display: flex;
	align-items: center;
	margin: 15px 0px;
}
.login::before {
	content: "";
	flex-grow: 1;
	margin: 0px 10px 0px 0px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	line-height: 0px;
}
.login::after {
	content: "";
	flex-grow: 1;
	margin: 0px 0px 0px 10px;
	background: rgba(0, 0, 0, 0.35);
	height: 1px;
	font-size: 0px;
	line-height: 0px;
}
.login-logo {
	width: 100%;
	display: flex;
	position: relative;
	justify-content: space-between;
}
.login-logo > .logo {
	width: 12%;
}
.login-logo > .logo img {
	width: 100%;
	object-fit: cover;
	border-radius: 0.5rem;
}

/* user-find-form-section css */
.user-find-form-section > .logo-box {
	display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.user-find-form-section > .logo-box > img {
	height:70px;
}

.user-find-form-section > h3 {
	margin-bottom: 15px;
}

.user-find-form-section > .loginId-find-form > .input-box input {
	height: 40px;
	padding: 0 10px;
	font-size: 0.9rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}

.user-find-form-section > .loginId-find-form > .input-box > div {
	display: flex;
}
.user-find-form-section > .loginId-find-form > .input-box > .error {
	padding: 0 10px;
	font-size: 0.7rem;
	color: red;
	height: 25px;
	line-height: 20px;
	/* 		visibility: hidden; opacity: 0; */
}

.user-find-form-section > .loginId-find-form > .btn {
	display: block;
	margin-left: auto;
	margin-top: -10px;
}

.user-find-form-section > .password-find-form > .input-box input {
	height: 40px;
	padding: 0 10px;
	font-size: 0.9rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}
.user-find-form-section > .password-find-form > .input-box > div {
	display: flex;
}
.user-find-form-section > .password-find-form > .input-box > .error {
	padding: 0 10px;
	font-size: 0.7rem;
	color: red;
	height: 25px;
	line-height: 20px;
	/* 		visibility: hidden; opacity: 0; */
}
.user-find-form-section > .password-find-form > .btn {
	display: block;
	margin-left: auto;
	margin-top: -10px;
}

/* modify-password-form-section */
.modify-password-form-section > .logo-box {
	display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.modify-password-form-section > .logo-box > img {
	height:70px;
}

.modify-password-form-section > h3 {
	margin-bottom: 15px;
}

.modify-password-form-section > .modify-password-form > .input-box input {
	height: 40px;
	padding: 0 10px;
	font-size: 0.9rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}

.modify-password-form-section > .modify-password-form > .input-box #newPW1 {
	height: 40px;
	padding: 0 10px;
	font-size: 0.85rem;
	border-radius: 0.3rem;
	border: 1px solid rgb(128, 128, 128);
}

.modify-password-form-section > .modify-password-form > .input-box > div {
	display: flex;
}
.modify-password-form-section > .modify-password-form > .input-box > .error {
	padding: 0 10px;
	font-size: 0.7rem;
	color: red;
	height: 25px;
	line-height: 20px;
	/* 		visibility: hidden; opacity: 0; */
}

.modify-password-form-section > .modify-password-form > .btn {
	display: block;
	margin-left: auto;
	margin-top: -10px;
}


/* board-header-section css */
.board-header-section > h2 {
	/* 	border: 1px solid orange; */
	margin: 40px 0;
}
.board-header-section > .category-box > .category-list {
	/* 	border: 1px solid green; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: between;
	margin: 10px 0;
}
.board-header-section > .category-box > .category-list > .category-text {
	width: calc(100% / 6);
}
.board-header-section > .category-box > .category-list > .category-text > a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.3rem;
	box-sizing: border-box;
	margin: 5px;
}

/* board-write-section css */
.board-write-section {
	margin-top: 40px;
}
.board-write-section > .board-write-form > .board-write-header {
	display: flex;
	margin: 15px 0;
	height: 40px;
}
.board-write-section > .board-write-form > .board-write-header > div {
	flex: 0 0 10%;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.3rem;
	padding: 0 5px;
	display: flex;
}
.board-write-section > .board-write-form > .board-write-header > div > select {
	border: none;
	width: 100%;
}
.board-write-section > .board-write-form > .board-write-header > input {
	flex: 1 1 auto;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.3rem;
	padding: 0 10px;
	margin-left: 10px;
}
.board-write-section > .board-write-form > .write-btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
}
.board-write-section > .board-write-form > .write-btn-box > .btn-sm.cancel {
    margin-right: 5px;
}

/* board-list-section css */
.board-list-section {
    margin-top: 60px;
}
.board-list-section > .list-header {
	margin: 10px 0 10px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.board-list-section > .list-header > .left-box > div {
	display: inline-block;
	margin-left: 5px;
}
.board-list-section > .list-header > .left-box > .list-paging-box > select {
	border: 1px solid rgb(128, 128, 128);
}
.board-list-section > .list-header > .left-box > .sort-button-box {
	font-size: 0;
}
.board-list-section > .list-header > .right-box {
	margin-right: 5px;
	display: flex;
}
.board-list-section > .list-header > .right-box > .write-btn {
	border: none;
}

.board-list-section > .list-content > ul.head {
	/* 	border-top: 2px solid rgba(0, 0, 0, 0.2); */
	/* 	border-bottom: 2px solid rgba(0, 0, 0, 0.2); */
	border-top: 2px solid rgb(128, 128, 128);
	border-bottom: 2px solid rgb(128, 128, 128);
}
.board-list-section > .list-content > ul.body.active {
    background-color: rgba(128, 128, 128, 0.1);
    font-weight: bold;
}
.board-list-section > .list-content > ul {
	display: flex;
	/* 	border-bottom: 1px solid rgba(0, 0, 0, 0.2); */
	border-bottom: 1px solid rgb(128, 128, 128);
	height: 3rem;
}
.board-list-section > .list-content > ul > li {
	display: inline-block;
	text-align: center;
	line-height: 3rem;
	/* 		border: 1px solid green; */
}
.board-list-section > .list-content > ul > li.no {
	flex: 0 0 8%;
}
.board-list-section > .list-content > ul > li.cate {
	flex: 0 0 8%;
}
.board-list-section > .list-content > ul > li.title {
	flex: 1 1 auto;
}
.board-list-section > .list-content > ul > li.content {
	padding-left: 3%;
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list-section > .list-content > ul > li.content > a {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.board-list-section > .list-content > ul > li.content > span {
    margin-left: 5px;
    font-size: 0.8rem;
    color: rgb(128, 128, 128);
}
.board-list-section > .list-content > ul > li.author {
	flex: 0 0 15%;
}
.board-list-section > .list-content > ul > li.create-date {
	flex: 0 0 8%;
}
.board-list-section > .list-content > ul > li.view {
	flex: 0 0 8%;
}
.board-list-section > .list-content > ul > li.heart {
	flex: 0 0 8%;
}

.board-list-section > .list-footer {
	margin: 0 0 15px 0;
	text-align: center;
}
.board-list-section > .list-footer > .search-box {
	font-size: 0;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.5rem;
	display: inline-block;
}
.board-list-section > .list-footer > .search-box > select {
	border: none;
	margin: 0 3px;
}
.board-list-section > .list-footer > .search-box > input {
	border: solid rgb(128, 128, 128);
	border-width: 0 0 0 1px;
	width: 265px;
	height: 28px;
	padding-left: 10px;
}
.board-list-section > .list-footer > .search-box > .search-btn:hover {
    cursor: pointer;
}

/* board-detail-section css */
.board-detail-section {
	margin-top: 40px;
}
.board-detail-section > div {
	padding: 15px;
}
.board-detail-section > .board-detail-header {
	border-top: 2px solid rgb(128, 128, 128);
	border-bottom: 3px double rgb(128, 128, 128);
}
.board-detail-section > .board-detail-header > .title-box {
	display: flex;
	font-size: 1.1rem;
}
.board-detail-section > .board-detail-header > .title-box > .title-category {
	margin-right: 20px;
}
.board-detail-section > .board-detail-header > .title-box > .title-subject {
	font-weight: bold;
}

.board-detail-section > .board-detail-header > .sub-box {
	margin-top: 15px;
	font-size: 1rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.board-detail-section > .board-detail-header > .sub-box > .sub-left-box > div {
	display: inline-block;
}
.board-detail-section
	> .board-detail-header
	> .sub-box
	> .sub-left-box
	> .profile-name {
	margin-left: 5px;
	margin-right: 10px;
}
.board-detail-section
	> .board-detail-header
	> .sub-box
	> .sub-left-box
	> .modify-btn {
	margin-left: 10px;
	margin-right: 5px;
}

.board-detail-section > .board-detail-header > .sub-box > .sub-right-box > div {
	display: inline-block;
}
.board-detail-section
	> .board-detail-header
	> .sub-box
	> .sub-right-box
	> .vote-count {
	margin: 0 5px;
}

.board-detail-section > .board-detail-body {
	border-bottom: 1px solid rgb(128, 128, 128);
	display: flex;
	flex-direction: column;
}
.board-detail-section > .board-detail-body > .board-detail-content {
    min-height: 250px;
}
.board-detail-section > .board-detail-body > .vote-btn {
	margin: 30px auto 0 auto;
}
.board-detail-section > .board-detail-body > .vote-btn.voted {
	background-color: black;
}

/* board-comment-section css */
.board-comment-section > .board-comment-header {
	padding: 15px;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid rgb(128, 128, 128);
}
.board-comment-section > .board-comment-header.expended {
	border-bottom: none;
}
.board-comment-section > .board-comment-header > .header-left-box > div {
	display: inline-block;
}
.board-comment-section
	> .board-comment-header
	> .header-left-box
	> .sort-button-box {
	margin-left: 10px;
	font-size: 0;
}
.board-comment-section > .comment-write-box {
	padding: 0 15px 15px 15px;
	display: none;
	border-bottom: 1px solid rgb(128, 128, 128);
}
.board-comment-section > .comment-write-box.active {
	display: flex;
	flex-direction: column;
}
.board-comment-section > .comment-write-box > .comment-write-form > .write-btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top:10px;
}
.board-comment-section > .comment-write-box > .comment-write-form > .write-btn-box > .btn-sm.cancel {
    margin-right: 5px;
}

.board-comment-section > .board-comment-list > .comment > .comment-box {
	padding: 15px;
	font-size: 0.9rem;
	border-bottom: 1px solid rgb(128, 128, 128);
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-profile-box
	> div {
	display: inline-block;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-profile-box
	> .profile-name {
	margin-left: 3px;
	margin-right: 6px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-profile-box
	> .modify-btn {
	margin-left: 6px;
	margin-right: 3px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-content-box {
	margin-top: 10px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-btn-box {
	margin-top: 10px;
	display: flex;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-btn-box
	> .vote-btn {
	margin-right: 5px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .comment-btn-box
	> .vote-btn.voted {
	background-color: black;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .reComment-write-box {
	margin-top: 15px;
    display: none;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .reComment-write-box.active {
    display: flex;
    flex-direction: column;
}
.board-comment-section
   > .board-comment-list
   > .comment
   > .comment-box
   > .reComment-write-box > .reComment-write-form > .CodeMirror {
   min-height: 80px;
}
.board-comment-section
   > .board-comment-list
   > .comment
   > .comment-box
   > .reComment-write-box > .reComment-write-form > .CodeMirror > .CodeMirror-scroll {
   min-height: 80px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .reComment-write-box > .reComment-write-form > .write-btn-box {
	display: flex;
    justify-content: flex-end;
    margin-top:10px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .comment-box
	> .reComment-write-box > .reComment-write-form > .write-btn-box > .btn-sm.cancel {
    margin-right: 5px;
}

.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box {
	padding: 15px;
	padding-left: 50px;
	font-size: 0.9rem;
	border-bottom: 1px solid rgb(128, 128, 128);
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-profile-box
	> div {
	display: inline-block;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-profile-box
	> .profile-name {
	margin-left: 3px;
	margin-right: 6px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-profile-box
	> .modify-btn {
	margin-left: 6px;
	margin-right: 3px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-content-box {
	margin-top: 10px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-referer-box {
	margin-top: 5px;
	font-size: 0.8rem;
	color: rgb(128, 128, 128);
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-btn-box {
	margin-top: 10px;
	display: flex;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-btn-box
	> .vote-btn {
	margin-right: 5px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-btn-box
	> .vote-btn.voted {
	background-color: black;
}

.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-write-box {
	margin-top: 15px;
    display: none;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-write-box.active {
    display: flex;
    flex-direction: column;
}
.board-comment-section
   > .board-comment-list
   > .comment
   > .reComment
   > .reComment-box
   > .reComment-write-box > .reComment-write-form > .CodeMirror {
   min-height: 80px;
}

.board-comment-section
   > .board-comment-list
   > .comment
   > .reComment
   > .reComment-box
   > .reComment-write-box > .reComment-write-form > .CodeMirror > .CodeMirror-scroll {
   min-height: 80px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-write-box > .reComment-write-form > .write-btn-box {
	display: flex;
    justify-content: flex-end;
    margin-top:10px;
}
.board-comment-section
	> .board-comment-list
	> .comment
	> .reComment
	> .reComment-box
	> .reComment-write-box > .reComment-write-form > .write-btn-box > .btn-sm.cancel {
    margin-right: 5px;
}

/* comment-modify-section css */
.comment-modify-section {
	margin-top: 40px;
}
.comment-modify-section > .comment-modify-form > .comment-modify-body {
	margin-top: 15px;
}
.comment-modify-section > .comment-modify-form > .modify-btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top:10px;

}
.comment-modify-section > .comment-modify-form > .modify-btn-box > .btn-sm.cancel {
    margin-right: 5px;
}


/* trainer-header-section css */
.trainer-header-section > .header-box {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.trainer-header-section > .header-box > h2 {
	margin: 40px 0;
}
.trainer-header-section > .header-box > .right-box {
	display: flex;
}
.trainer-header-section > .header-box > .right-box > .search-box {
	font-size: 0;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.5rem;
	margin-right: 10px;
	padding: 0 0 0 10px;
	display: flex;
	align-items: center;
}
.trainer-header-section > .header-box > .right-box > .search-box > input {
	width: 230px;
	border: none;
}

.trainer-header-section > .trainer-item-box > .trainer-item-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: between;
	margin: 10px 0;
}
.trainer-header-section
	> .trainer-item-box
	> .trainer-item-list
	> .trainer-item-text {
	width: calc(100% / 5);
}
.trainer-header-section
	> .trainer-item-box
	> .trainer-item-list
	> .trainer-item-text
	> a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	border: 1px solid rgb(128, 128, 128);
	border-radius: 0.3rem;
	box-sizing: border-box;
	margin: 5px;
}

/* .trainer-list-section css */
.trainer-list-section > .trainer-list-header {
	margin: 30px 0;
	display: flex;
	justify-content: space-between;
}
.trainer-list-section > .trainer-list-body > .trainer-list {
	padding: 30px 15px;
	display: flex;
	border-bottom: 1px solid rgb(191, 191, 191);
}
.trainer-list-section > .trainer-list-body > .trainer-list > .profile-img-box {
	display: flex;
	align-items: center;
	padding-left: 15px;
	padding-right: 30px;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-img-box
	> img {
	height: 120px;
	border-radius: 50%;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .detail-header
	> .trainer-name {
	font-weight: bold;
	font-size: 1.4rem;
	margin-right: 10px;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .detail-header
	> .trainer-address {
	font-size: 0.9rem;
	color: rgb(128, 128, 128);
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .info-abstract {
	margin-top: 20px;
	margin-bottom: 10px;
	font-size: 1.2rem;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .info-detail {
	margin-bottom: 20px;
	font-size: 1.2rem;
	display: flex;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .info-detail
	> .delimiter {
	margin: 0 10px;
	margin-top: 2px;
	border: 1px solid;
	height: 0.9rem;
	align-self: center;
}
.trainer-list-section
	> .trainer-list-body
	> .trainer-list
	> .profile-detail-box
	> .info-field {
	font-size: 0.9rem;
	color: rgb(128, 128, 128);
}

/* trainer-detail-header css */
.trainer-detail-header {
	margin-top: 50px;
}
.trainer-detail-header > .inner-container {
	margin: 0 5px;
	padding: 30px 15px;
	display: flex;
	border: solid rgb(191, 191, 191);
	border-width: 3px 0 3px 0;
}
.trainer-detail-header > .inner-container > .profile-img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-left: 30px;
	padding-right: 45px;
}
.trainer-detail-header > .inner-container > .profile-img-box > img {
	height: 200px;
	border-radius: 50%;
}
.trainer-detail-header > .inner-container > .profile-img-box > .trainer-name {
	margin-top: 20px;
	font-weight: bold;
	font-size: 2rem;
}
.trainer-detail-header
	> .inner-container
	> .profile-img-box
	> .trainer-address {
	font-size: 1rem;
	color: rgb(128, 128, 128);
}

.trainer-detail-header > .inner-container > .profile-abstract-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.trainer-detail-header
	> .inner-container
	> .profile-abstract-box
	> .info-detail
	> .info-abstract {
	margin-top: 20px;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: 2rem;
}
.trainer-detail-header
	> .inner-container
	> .profile-abstract-box
	> .info-detail
	> .info-lesson {
	font-size: 1.6rem;
}
.trainer-detail-header
	> .inner-container
	> .profile-abstract-box
	> .info-detail
	> .info-center {
	margin-top: 20px;
	font-weight: bold;
	font-size: 1rem;
}
.trainer-detail-header
	> .inner-container
	> .profile-abstract-box
	> .info-field {
	font-size: 0.9rem;
	color: rgb(128, 128, 128);
}

/* trainer-detail-classification css */
.trainer-detail-classification {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.trainer-detail-classification > .classify-btn-box {
	display: flex;
}
.trainer-detail-classification > .classify-btn-box > button {
	/* 	width: 100px; */
	border: solid rgb(191, 191, 191);
	background-color: white;
	color: rgb(128, 128, 128);
	font-size: 1rem;
	font-weight: bold;
	/* 	background-color: red; */
	padding: 0 20px;
}
.trainer-detail-classification > .classify-btn-box > .information {
	border-width: 0 1px 0 0;
}
.trainer-detail-classification > .classify-btn-box > .used-product {
	border-width: 0 1px 0 1px;
}
.trainer-detail-classification > .classify-btn-box > .board {
	border-width: 0 0 0 1px;
}
.trainer-detail-classification > .classify-btn-box > button:hover {
	color: black;
}

/* trainer-information-section css */
.trainer-information-section > .inner-container {
	margin: 0 5px;
	padding: 30px 15px;
	border: solid rgb(191, 191, 191);
	border-width: 0 0 3px 0;
}
.trainer-information-section > .inner-container > img {
	height: 300px;
}
.trainer-information-section > .inner-container > .interval {
	margin-top: 20px;
}
.trainer-information-section > .inner-container h3 {
	margin-top: 0;
}
.trainer-information-section > .inner-container.trainer-field > .info-field {
	margin-top: 20px;
}
.trainer-information-section
	> .inner-container.trainer-field
	> .info-field
	> span {
	margin-right: 10px;
}
.trainer-information-section > .inner-container.trainer-center > .info-center {
	margin-top: 20px;
}
.trainer-information-section
	> .inner-container.trainer-certificate
	> .certificate-list-box {
	display: flex;
	flex-wrap: wrap;
}
.trainer-information-section
	> .inner-container.trainer-certificate
	> .certificate-list-box
	> .certificate-list {
	margin-right: 50px;
	margin-top: 20px;
}
.trainer-information-section
	> .inner-container.trainer-certificate
	> .certificate-list-box
	> .certificate-list
	> .certificate-img
	> img {
	height: 250px;
}

.trainer-information-section > .inner-container.lesson-contacts {
	display: flex;
}
.trainer-information-section > .inner-container.lesson-contacts > .left-box {
	flex: 0 0 50%;
}
.trainer-information-section
	> .inner-container.lesson-contacts
	> .left-box
	> .lesson-list-box
	> .lesson-list {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
}
.trainer-information-section
	> .inner-container.lesson-contacts
	> .left-box
	> .lesson-list-box
	> .lesson-list
	> .price-box {
	text-align: end;
	margin-right: 50px;
}
.trainer-information-section > .inner-container.lesson-contacts > .right-box {
	flex: 0 0 50%;
	margin-left: 50px;
}
.trainer-information-section
	> .inner-container.lesson-contacts
	> .right-box
	> .contacts-list-box
	> .contacts-list {
	margin-top: 10px;
}
.trainer-information-section
	> .inner-container.lesson-contacts
	> .right-box
	> .contacts-list-box
	> .contacts-list:nth-child(1) {
	margin-top: 30px;
}
.trainer-information-section
	> .inner-container.lesson-contacts
	> .right-box
	> .contacts-list-box
	> .contacts-list
	> .type {
	margin-right: 10px;
}

/* trainer-form-section css */
.trainer-form-section > .logo-box {
	font-weight: bold;
	font-size: 2.5rem;
	line-height: 90px;
	text-align: center;
}

.trainer-form-section > .trainer-form > ul {
    display: flex;
    margin-bottom: 25px;
}
.trainer-form-section > .trainer-form > ul > li {
    display: flex;
    align-items: center;
}
.trainer-form-section > .trainer-form > ul > li.type {
    height: 40px;
    justify-content: center;
	flex: 0 0 20%;
}
.trainer-form-section > .trainer-form > ul > li.content {
    flex: 1 1 auto;
    align-items: center;
}
.trainer-form-section > .trainer-form > ul > li.content > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(128, 128, 128);
}


.trainer-form-section > .trainer-form .check-box {
    width: calc(100% / 5);
    font-size: 0.8rem;
    text-align: center;
}
.trainer-form-section > .trainer-form .check-box > input.select-input {
    display: none;
}
.trainer-form-section > .trainer-form .check-box > input.select-input~label {
    display: inline-block;
    cursor: pointer;
    border-radius: 10rem;
    width: 90px;
    text-align: center;
    border: 1px solid rgb(128, 128, 128);
    color: gray;
    box-sizing: border-box;
    height: 32px;
    line-height: 31px;
    margin-top: 1px;
}
.trainer-form-section > .trainer-form .check-box > input.select-input~label > div {
	height: 100%;
	width: 100%;
}
.trainer-form-section > .trainer-form .check-box > input.select-input:checked~label {
	background-color: rgb(128, 128, 128);
	color: white;
	font-weight: bold;
}
.trainer-form-section > .trainer-form .check-box > input.select-input~label:hover {
	background-color: rgb(128, 128, 128);
	color: white;
	font-weight: bold;
}
.trainer-form-section > .trainer-form .check-box > input.select-input~label:hover > div {
	font-size: 1rem;
	transition: 0.3s;
}

.trainer-form-section > .trainer-form > ul > li.content > .address-box {
    display: flex;
    flex-wrap: wrap;
}
.trainer-form-section > .trainer-form > ul > li.content > .address-box > div {
    flex: 0 0 100%;
    display: flex;
}
.trainer-form-section > .trainer-form > ul > li.content > .address-box > .address-input {
    margin: 10px 0;
}
.trainer-form-section > .trainer-form > ul > li.content > .address-box > div > input {
    width: 100%;
    height: 40px;
    padding: 0 10px;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(128, 128, 128);
}
.trainer-form-section > .trainer-form > ul > li.content > .address-box > div > input.zoneCode {
    flex: 0 0 40%;
    margin-right: 10px;
}

.trainer-form-section > .trainer-form > ul > li.content > .introDetail-box {
    width: 100%;
}
.trainer-form-section > .trainer-form .CodeMirror {
    font-size: 0.8rem;
}
.trainer-form-section > .trainer-form .editor-toolbar {
    font-size: 0.9rem;
}

.trainer-form-section > .trainer-form > ul > li.content.field {
    height: 80px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.trainer-form-section > .trainer-form > ul > li.content.lesson {
    flex-direction: column;
}
.trainer-form-section > .trainer-form > ul > li.content.lesson > .lesson-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.trainer-form-section > .trainer-form > ul > li.content.lesson > .lesson-box:nth-child(1) {
    margin-top: 0;
}
.trainer-form-section > .trainer-form > ul > li.content.lesson > .lesson-box > div {
    flex: 0 0 44%;
    height: 40px;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(128, 128, 128);
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.trainer-form-section > .trainer-form > ul > li.content.lesson > .lesson-box > div > input {
    flex: 1 1 auto;
    border: none;
    text-align: end;
}

.trainer-form-section > .trainer-form > ul > li.content.certificate {
    flex-direction: column;
}
.trainer-form-section > .trainer-form > ul > li.content.certificate > .certificate-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.trainer-form-section > .trainer-form > ul > li.content.certificate > .certificate-box:nth-child(1) {
    margin-top: 0;
}
.trainer-form-section > .trainer-form > ul > li.content.certificate > .certificate-box > div {
    flex: 0 0 44%;
    height: 40px;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(128, 128, 128);
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.trainer-form-section > .trainer-form > ul > li.content.certificate > .certificate-box > div > input {
    flex: 1 1 auto;
    border: none;
}

.trainer-form-section > .trainer-form > ul.contact-list {
    margin-bottom: 15px;
}
.trainer-form-section > .trainer-form > ul > li.content.contact {
    flex-direction: column;
}
.trainer-form-section > .trainer-form > ul > li.content.contact > .contact-box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.trainer-form-section > .trainer-form > ul > li.content.contact > .contact-box:nth-child(1) {
    margin-top: 0;
}
.trainer-form-section > .trainer-form > ul > li.content.contact > .contact-box > div {
    flex: 0 0 44%;
    height: 40px;
    font-size: 0.8rem;
    border-radius: 0.3rem;
    border: 1px solid rgb(128, 128, 128);
    padding: 0 10px;
    display: flex;
    align-items: center;
}
.trainer-form-section > .trainer-form > ul > li.content.contact > .contact-box > div > input {
    flex: 1 1 auto;
    border: none;
}

.trainer-form-section > .trainer-form > ul.btn-list {
    margin-bottom: 0;
}
.trainer-form-section > .trainer-form > ul.btn-list button {
    height: 40px;
}

/* middle-banner-section css */
.middle-banner-section {
    margin-top: 60px;
    display: flex;
    justify-content: center;
}
.middle-banner-section > img {
    height: 200px;
}

/* footer-section css */
.footer-section {
    border-top: 1px solid #e4e4e4;
    background-color:#f8f9fa;
    padding: 2rem 0;
    margin: 5rem 0 0 0;
    text-align: center;
}
.footer-section > .inner > .footer-message {
    font-weight: bold;
    font-size: 0.9rem;
    color: #545e6f;
    margin-bottom: 0.3rem;
    margin: 0 0 0 0.6rem;
    display:inline-block;
}
.footer-section > .inner > .footer-message > div {
    margin: 0.6rem;
}

/* mypage-section css */
.mypage-section {
    margin-top: 50px;
}

.mypage-section > .inner-container {
	margin: 0 5px;
	padding: 20px 15px;
	display: flex;
	border: solid rgb(191, 191, 191);
	border-width: 3px 0 3px 0;
}
.mypage-section > .inner-container > .profile-img-box {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 30px;
	padding-right: 45px;
}
.mypage-section > .inner-container > .profile-img-box > img {
	height: 150px;
	border-radius: 50%;
}
.mypage-section > .inner-container > .profile-img-box > .user-name {
	margin-top: 20px;
	font-weight: bold;
	font-size: 2rem;
}

.mypage-section > .inner-container > .profile-abstract-box {
    width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.mypage-section > .inner-container > .profile-abstract-box > ul {
    display: flex;
    align-items: center;
    height: 40px;
}
.mypage-section > .inner-container > .profile-abstract-box > ul > li {
    display: flex;
}
.mypage-section > .inner-container > .profile-abstract-box > ul > li.type {
    font-weight: bold;
    flex: 0 0 30%;
}
.mypage-section > .inner-container > .profile-abstract-box > ul > li.content.social-linked-list > a.social-linked > img {
    height: 30px;
    margin-right: 15px;
    border-radius: 0.5rem;
    line-height: 40px;
}
.mypage-section > .inner-container > .profile-abstract-box > ul > li.content.social-linked-list > a.social-linked {
    display: flex;
}
.mypage-section > .inner-container > .profile-abstract-box > ul > li.content.social-linked-list > a.social-linked.active {
    cursor: pointer;
    opacity: 0.5;
}
.mypage-section > .inner-container > .button-box {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    flex: 0 0 20%;
}
.mypage-section > .inner-container > .button-box > button {
    margin-left: 10px;
}

/* mypage-detail-classification css */
.mypage-detail-classification {
	display: flex;
	justify-content: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
.mypage-detail-classification > .classify-btn-box {
	display: flex;
}
.mypage-detail-classification > .classify-btn-box > button {
	/* 	width: 100px; */
	border: solid rgb(191, 191, 191);
	background-color: white;
	color: rgb(128, 128, 128);
	font-size: 1rem;
	font-weight: bold;
	/* 	background-color: red; */
	padding: 0 20px;
}
.mypage-detail-classification > .classify-btn-box > button.active {
    color: black;
}
.mypage-detail-classification > .classify-btn-box > .left {
	border-width: 0 1px 0 0;
}
.mypage-detail-classification > .classify-btn-box > .center {
	border-width: 0 1px 0 1px;
}
.mypage-detail-classification > .classify-btn-box > .right {
	border-width: 0 0 0 1px;
}
.mypage-detail-classification > .classify-btn-box > button:hover {
	color: black;
}

.tab-menu {
    display: none;
}
.tab-menu.active {
    display: block;
}
/* mypage-detail-information css */

.mypage-detail-information > .detail-information-box {
    margin: 0 100px;
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}

.mypage-detail-information > .detail-information-box > ul {
    display: flex;
    align-items: center;
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
    height: 50px;
}
.mypage-detail-information > .detail-information-box > ul > li {
    height: 100%;
}
.mypage-detail-information > .detail-information-box > ul > li.type {
    flex: 0 0 20%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 3px double rgb(191, 191, 191);
}
.mypage-detail-information > .detail-information-box > ul > li.content {
    padding-left: 20px;
    display: flex;
    align-items: center;
}
.mypage-detail-information > .detail-information-box > ul > li.content.social-linked-list > a.social-linked > img {
    height: 30px;
    margin-right: 15px;
    border-radius: 0.5rem;
    line-height: 40px;
}
.mypage-detail-information > .detail-information-box > ul > li.content.social-linked-list > a.social-linked {
    display: flex;
}
.mypage-detail-information > .detail-information-box > ul > li.content.social-linked-list > a.social-linked.active {
    cursor: pointer;
    opacity: 0.5;
}

/* mypage-detail-board css */

.mypage-detail-board > .detail-board-box {
    margin: 0 100px;
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-board > .detail-board-box > .detail-board-list {
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .upper-box {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .upper-box > div:hover {
    cursor: pointer;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .upper-box > .title-category {
    padding: 0 10px;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .upper-box > .title-subject {
    font-weight: bold;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .upper-box > .title-commentList {
    padding: 0 10px;
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .lower-box {
    display: flex;
    margin: 10px 0;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .lower-box > .lower-box-content {
    font-size: 0.9rem;
    padding: 0 10px;
    color: rgb(128, 128, 128);
    border: solid rgb(191, 191, 191);
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .lower-box > .left {
    border-width: 0 1px 0 0;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .lower-box > .center {
    border-width: 0 1px 0 1px;
}
.mypage-detail-board > .detail-board-box > .detail-board-list > .lower-box > .right {
    border-width: 0 0 0 1px;
}

/* mypage-detail-comment css */

.mypage-detail-comment > .detail-comment-box {
    margin: 0 100px;
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list {
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .title-content {
    padding: 0 10px;
    font-weight: bold;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .title-content:hover {
    cursor: pointer;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .title-reCommentList {
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .title-reCommentList:hover {
    cursor: pointer;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .upper-box-content {
    font-size: 0.9rem;
    padding: 0 10px;
    color: rgb(128, 128, 128);
    border: solid rgb(191, 191, 191);
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .left {
    border-width: 0 1px 0 0;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .upper-box > .right {
    border-width: 0 0 0 1px;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .lower-box {
    display: flex;
    margin: 10px 0;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .lower-box > div {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .lower-box > div:hover {
    cursor: pointer;
}
.mypage-detail-comment > .detail-comment-box > .detail-comment-list > .lower-box > .title-icon {
    padding: 0 10px;
}

/* mypage-detail-reComment css */

.mypage-detail-reComment > .detail-reComment-box {
    margin: 0 100px;
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list {
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .title-content {
    padding: 0 10px;
    font-weight: bold;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .title-content:hover {
    cursor: pointer;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .title-reCommentList {
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .title-reCommentList:hover {
    cursor: pointer;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .upper-box-content {
    font-size: 0.9rem;
    padding: 0 10px;
    color: rgb(128, 128, 128);
    border: solid rgb(191, 191, 191);
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .left {
    border-width: 0 1px 0 0;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .upper-box > .right {
    border-width: 0 0 0 1px;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .lower-box {
    display: flex;
    margin: 10px 0;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .lower-box > div {
    font-size: 0.9rem;
    color: rgb(128, 128, 128);
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .lower-box > div:hover {
    cursor: pointer;
}
.mypage-detail-reComment > .detail-reComment-box > .detail-reComment-list > .lower-box > .title-icon {
    padding: 0 10px;
}

/* index-trainer-list-section css */

.index-trainer-list-section {
    margin-top: 50px;
}
.index-trainer-list-section > #map {
    width: 500px;
    height: 350px;
    margin: 0 auto;
    display: none;
}
.index-trainer-list-section > #map.active {
    display: block;
}

/* index-board-list-section css */

.index-board-list-section {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}
.index-board-list-section > .board-box {
    flex: 0 0 45%;
    border: solid rgb(191, 191, 191);
    border-width: 0 0 1px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.index-board-list-section > .board-box > h2 {
    border: solid rgb(191, 191, 191);
    border-width: 0 0 1px 0;
    padding: 0 0 20px 10px;
}
.index-board-list-section > .board-box > .board-list {
    border: solid rgb(191, 191, 191);
    border-width: 1px 0 1px 0;
}
.index-board-list-section > .board-box > .board-list > .upper-box {
    display: flex;
    margin: 20px 0 10px 0;
    align-items: center;
}
.index-board-list-section > .board-box > .board-list > .upper-box > div:hover {
    cursor: pointer;
}
.index-board-list-section > .board-box > .board-list > .upper-box > .title-category {
    padding: 0 10px;
}
.index-board-list-section > .board-box > .board-list > .upper-box > .title-subject {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: bold;
}
.index-board-list-section > .board-box > .board-list > .upper-box > .title-commentList {
    padding: 0 10px;
    color: rgb(128, 128, 128);
    font-size: 0.9rem;
}
.index-board-list-section > .board-box > .board-list > .lower-box {
    display: flex;
    margin: 10px 0;
}
.index-board-list-section > .board-box > .board-list > .lower-box > .lower-box-content {
    font-size: 0.9rem;
    padding: 0 10px;
    color: rgb(128, 128, 128);
    border: solid rgb(191, 191, 191);
}
.index-board-list-section > .board-box > .board-list > .lower-box > .left {
    border-width: 0 1px 0 0;
}
.index-board-list-section > .board-box > .board-list > .lower-box > .center {
    border-width: 0 1px 0 1px;
}
.index-board-list-section > .board-box > .board-list > .lower-box > .right {
    border-width: 0 0 0 1px;
}

