<html layout:decorate="~{layout}">
<script layout:fragment="simplemde" type="text/javascript" th:src="@{/simplemde.min.js}"></script>
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- board-header-section start -->
    <section th:replace="~{board_header :: board_headerFragment}"></section>
    <!-- board-header-section end -->

    <!-- board-write-section start -->
    <section class="board-write-section">
        <h3>글쓰기</h3>
        <form th:object="${boardForm}" method="post" class="board-write-form">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
            <div class="board-write-header">
                <div>
                    <select th:field="*{category}">
                        <option th:each="category : ${categoryList}" th:value="${category.name}" th:text="${category.name}"></option>
                    </select>
                </div>
                <input type="text" th:field="*{title}" placeholder="제목">
            </div>
            <div class="board-write-body">
                <textarea th:field="*{content}"></textarea>
            </div>
            <div class="write-btn-box">
                <a href="/board" class="btn-sm cancel">취소</a>
                <button type="submit" class="btn-sm">저장하기</button>
            </div>
        </form>
    </section>
    <!-- board-write-section end -->
    <!-- 구현 End -->

</div>
<script layout:fragment="script" type='text/javascript'>
    let simpleMde = new SimpleMDE({
        element: $("#content")[0],
        placeholder: "내용을 입력해주세요",
        hideIcons: ["guide", "fullscreen", "side-by-side"]
    });
</script>
</html>