<!-- board-list-section start -->
<section th:fragment="board_listFragment" class="board-list-section">
    <div class="list-header">
        <div class="left-box">
            <div class="list-paging-box">
                <select id="boardPageSize" name="boardPageSize" th:value="${bPageSize}" th:onchange="_bPageSize()">
                    <option value="20" th:selected="${bPageSize} == 20">20개씩 보기</option>
                    <option value="50" th:selected="${bPageSize} == 50">50개씩 보기</option>
                    <option value="100" th:selected="${bPageSize} == 100">100개씩 보기</option>
                </select>
            </div>
            <div class="sort-button-box">
                <button class="sort-btn" id="comment-sort-list" th:onclick="_bSort(this)" th:data-sort="createDate">
                    <i class="fa-solid fa-list"></i>
                </button>
                <button class="sort-btn" id="comment-sort-vote" th:onclick="_bSort(this)" th:data-sort="vote">
                    <i class="fa-solid fa-thumbs-up"></i>
                </button>
                <button class="sort-btn" id="comment-sort-comment" th:onclick="_bSort(this)" th:data-sort="comment">
                    <i class="fa-solid fa-comment-dots"></i>
                </button>
            </div>
        </div>
        <div class="right-box">
            <a sec:authorize="isAuthenticated()" href="/board/write" class="write-btn btn-sm">글쓰기</a>
            <a sec:authorize="isAnonymous()" th:onclick="_anonymous()" class="write-btn btn-sm a-hover">글쓰기</a>
        </div>
    </div>
    <div class="list-content">
        <ul class="head">
            <li class="no">번호</li>
            <li class="cate">분류</li>
            <li class="title">제목</li>
            <li class="author">작성자</li>
            <li class="create-date">작성시간</li>
            <li class="view">조회수</li>
            <li class="heart">추천수</li>
        </ul>
        <ul th:each="board, loop : ${boardPaging}" class="body" th:classappend="${board.id == presentBoard.id ? 'active' : ''}">
            <li th:text="${boardPaging.getTotalElements - (boardPaging.number * boardPaging.size) - loop.index}" class="no"></li>
            <li th:text="${board.category.name}" class="cate"></li>
            <li class="content">
                <a class="a-hover" th:onclick="_goDetail(this)" th:data-uri="|/board/${board.id}|" th:text="${board.title}"></a>
                <span th:if="${#lists.size(board.commentList) > 0}" th:text="|[${#lists.size(board.commentList)}]|"></span>
            </li>
            <li class="author">
                <span th:text="${board.author.nickname}"></span>
            </li>
            <li class="create-date" th:text="${@commonUtil.timeDifference(board.createDate)}"></li>
            <li class="view" th:text="${board.hit}"></li>
            <li class="heart" th:text="${#lists.size(board.voter)}"></li>
        </ul>
    </div>
    <div class="list-footer">
        <ul class="page-list" th:if="${!boardPaging.isEmpty()}">
            <li class="page-start" th:classappend="${boardPaging.number != 0} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${0}">처음</li>
            <li class="page-middle" th:classappend="${boardPaging.number - 10 >= 0} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${boardPaging.number - 10}"><i class="fa-solid fa-angles-left"></i></li>
            <li class="page-middle" th:classappend="${boardPaging.hasPrevious} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${boardPaging.number - 1}"><i class="fa-solid fa-angle-left"></i></li>
            <li class="page-middle" th:each="page : ${#numbers.sequence(0, boardPaging.totalPages-1)}"
                th:if="${page >= boardPaging.number - 2 and page <= boardPaging.number + 2 and boardPaging.number > 1 and boardPaging.number < boardPaging.totalPages-2}"
                th:classappend="${page != boardPaging.number} ? 'page-active' : 'disabled page-now'"
                th:onclick="_bPaging(this)" th:data-page="${page}" th:text="${page+1}"></li>
            <li class="page-middle" th:each="page : ${#numbers.sequence(0, boardPaging.totalPages-1)}"
                th:if="${(boardPaging.number <= 1 and page <= 4) or (boardPaging.number >= boardPaging.totalPages-2 and page >= boardPaging.totalPages-5)}"
                th:classappend="${page != boardPaging.number} ? 'page-active' : 'disabled page-now'"
                th:onclick="_bPaging(this)" th:data-page="${page}" th:text="${page+1}"></li>
            <li class="page-middle" th:classappend="${boardPaging.hasNext} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${boardPaging.number + 1}"><i class="fa-solid fa-angle-right"></i></li>
            <li class="page-middle" th:classappend="${boardPaging.number + 10 <= boardPaging.totalPages-1} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${boardPaging.number + 10}"><i class="fa-solid fa-angles-right"></i></li>
            <li class="page-end" th:classappend="${boardPaging.number != boardPaging.totalPages-1} ? 'page-active' : 'disabled'"
                th:onclick="_bPaging(this)" th:data-page="${boardPaging.totalPages-1}">끝</li>
        </ul>
        <div class="search-box">
            <select id="boardSearch" name="boardSearch" th:value="${bSearch}">
                <option value="all" th:selected="${bSearch} == all">전체</option>
                <option value="title" th:selected="${bSearch} == title">제목</option>
                <option value="content" th:selected="${bSearch} == content">내용</option>
                <option value="title_content" th:selected="${bSearch} == title_content">제목+내용</option>
                <option value="author" th:selected="${bSearch} == author">작성자</option>
                <option value="comment" th:selected="${bSearch} == comment">답글</option>
            </select>
            <input type="text" id="boardKeyword" name="boardKeyword" th:value="${bKw}" placeholder="검색어를 입력해주세요.">
            <a th:onclick="_bSearch()" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
</section>
<!-- board-list-section end -->