<!-- board-header-section start -->
<section th:fragment="board_headerFragment" class="board-header-section">
  <h2><a href="/board">커뮤니티</a></h2>
  <div class="category-box">
    <h3>카테고리</h3>
    <div class="category-list">
      <div class="category-text" th:each="category : ${categoryList}"
           th:if="${#maps.containsKey(bcc, category)}">
        <a class="a-hover" th:onclick="_bCategory(this)"
           th:data-category="${category.name}"
           th:data-count="${bcc.get(category)}"
           th:text="|#${category.name} (${bcc.get(category)})|"></a>
      </div>
    </div>
  </div>
</section>
<!-- board-header-section end -->