<!-- board-list-section start -->
<section th:fragment="board_listFragment" class="board-list-section">
    <div class="list-header">
        <div class="left-box">
            <div class="list-paging-box">
                <select>
                    <option value="20">20개씩 보기</option>
                    <option value="50">50개씩 보기</option>
                    <option value="100">100개씩 보기</option>
                </select>
            </div>
            <div class="sort-button-box">
                <button class="sort-btn" id="comment-sort-list">
                    <i class="fa-solid fa-list"></i>
                </button>
                <button class="sort-btn" id="comment-sort-vote">
                    <i class="fa-solid fa-thumbs-up"></i>
                </button>
                <button class="sort-btn" id="comment-sort-comment">
                    <i class="fa-solid fa-comment-dots"></i>
                </button>
            </div>
        </div>
        <div class="right-box">
            <a href="/board/write" class="write-btn btn-sm">글쓰기</a>
        </div>
    </div>
    <div class="list-content">
        <ul class="head">
            <li class="no">번호</li>
            <li class="cate">분류</li>
            <li class="title">제목</li>
            <li class="author">작성자</li>
            <li class="create-date">작성시간</li>
            <li class="view">조회수</li>
            <li class="heart">추천수</li>
        </ul>
        <ul th:each="board, loop : ${boardPaging}" class="body" th:classappend="${board.id == presentBoard.id ? 'active' : ''}">
            <li th:text="${boardPaging.getTotalElements - (boardPaging.number * boardPaging.size) - loop.index}" class="no"></li>
            <li th:text="${board.boardCategory.name}" class="cate"></li>
            <li class="content">
                <a th:href="@{|/board/${board.id}|}" th:text="${board.title}"></a>
                <span th:if="${#lists.size(board.commentList) > 0}" th:text="|[${#lists.size(board.commentList)}]|"></span>
            </li>
            <li class="author">
                <span th:text="${board.author.nickname}"></span>
            </li>
            <li class="create-date" th:text="${@commonUtil.timeDifference(board.createDate)}"></li>
            <li class="view" th:text="${board.hit}"></li>
            <li class="heart" th:text="${#lists.size(board.voter)}"></li>
        </ul>
    </div>
    <div class="list-footer">
        <ul class="page-list">
            <li class="page-start">처음</li>
            <li class="page-middle"><i class="fa-solid fa-angles-left"></i></li>
            <li class="page-middle"><i class="fa-solid fa-angle-left"></i></li>
            <li class="page-middle page-active">1</li>
            <li class="page-middle">2</li>
            <li class="page-middle">3</li>
            <li class="page-middle">4</li>
            <li class="page-middle">5</li>
            <li class="page-middle"><i class="fa-solid fa-angle-right"></i></li>
            <li class="page-middle"><i class="fa-solid fa-angles-right"></i></li>
            <li class="page-end">끝</li>
        </ul>
        <div class="search-box">
            <select>
                <option value="all">전체</option>
                <option value="title">제목</option>
                <option value="content">내용</option>
                <option value="titleandcontent">제목+내용</option>
                <option value="author">작성자</option>
                <option value="comment">답글</option>
            </select>
            <input type="text" placeholder="검색어를 입력해주세요.">
            <a href="#" class="search-btn"><i class="fa-solid fa-magnifying-glass"></i></a>
        </div>
    </div>
</section>
<!-- board-list-section end -->