<html layout:decorate="~{layout}">
<script layout:fragment="simplemde" type="text/javascript" th:src="@{/simplemde.min.js}"></script>
<div layout:fragment="content">
  <!-- 구현 Start -->
  <!-- board-header-section start -->
  <section th:replace="~{board_header :: board_headerFragment}"></section>
  <!-- board-header-section end -->

  <!-- comment-modify-section start -->
  <section class="comment-modify-section">
    <h3>답글 수정</h3>
    <form th:object="${commentForm}" method="post" class="comment-modify-form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="comment-modify-body">
        <textarea th:field="*{content}"></textarea>
      </div>
      <div class="modify-btn-box">
        <a th:href="@{|/board/${comment.getBoard().getId()}#comment_${comment.id}|}" class="btn-sm cancel">취소</a>
        <button type="submit" class="btn-sm">저장하기</button>
      </div>
    </form>
  </section>
  <!-- comment-modify-section end -->
  <!-- 구현 End -->
</div>
<script layout:fragment="script" type='text/javascript'>
    let simpleMde = new SimpleMDE({
        element: $("#content")[0],
        placeholder: "내용을 입력해주세요",
        hideIcons: ["guide", "fullscreen", "side-by-side"]
    });
</script>
</html>