<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <section>
        <form th:action="@{|/file/upload|}" th:object=${fileForm} method="post" enctype="multipart/form-data">
            <input type="file" th:field="*{file}">
            <input type="submit">
        </form>
        <div>
            <img th:attr="src=${path}" alt="">
        </div>
    </section>
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
</script>
</html>