<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 Start -->
  <!-- login-form-section start -->
  <section class="form login-form-section">
    <div class="logo-box">
      <span>oGym</span>
    </div>
    <form class="login-form" th:action="@{/user/login}" method="post">
      <div class="input-box loginId">
        <input id="loginId" name="loginId" type="text" placeholder="로그인 ID를 입력해주세요">
        <div class="error" id="loginIdError"></div>
      </div>
      <div class="input-box password">
        <input id="password" name="password" type="password" placeholder="비밀번호를 입력해주세요">
        <div class="error" id="passwordError"></div>
      </div>
      <button type="button" class="btn btn-long" id="login-btn">로그인</button>
    </form>
    <div class="link-box">
      <div class="signup-link">
        <a href="/user/signup">회원가입</a>
      </div>
      <div class="delimiter"></div>
      <div class="find-link">
        <a href="/user/find">아이디/비밀번호 찾기</a>
      </div>
    </div>
    <div>
      <span class="login">간편 로그인</span>
    </div>
    <div class="login-logo">
      <div class="logo" id="login-kakao">
        <a href="https://kauth.kakao.com/oauth/authorize?response_type=code&client_id=d242caacaeef4e7e50acc0b0df1bec34&redirect_uri=http://localhost:14641/user/auth/kakao/callback">
          <img th:src="@{/image/login_Kakao.png}" alt="">
        </a>
      </div>
      <div class="logo" id="login-naver">
        <a href="">
          <img th:src="@{/image/login_naver.png}" alt="">
        </a>
      </div>
      <div class="logo" id="login_google">
        <a href="">
          <img th:src="@{/image/login_Google.png}" alt="">
        </a>
      </div>
      <div class="logo" id="login_instagram">
        <a href="">
          <img th:src="@{/image/login_Instagram.png}" alt="">
        </a>
      </div>
      <div class="logo" id="login-facebook">
        <a href="">
          <img th:src="@{/image/login_Facebook.png}" alt="">
        </a>
      </div>
    </div>
  </section>
  <!-- login-form-section end -->
  <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
$(document).ready(function() {

  //아이디, 비밀번호 입력하면 로그인버튼 스타일변경, input으로 처리해서 실시간임
  $("#loginId, #password").on("input", function() {
    var loginId = $("#loginId").val();
    var password = $("#password").val();

    if (loginId !== "" && password !=="") {
      $("#login-btn").css("background-color", "black");
    } else {
      $("#login-btn").css("background-color", "");
    }

  //로그인버튼 클릭 후 에러메세지 출력되는거 input에 입력하면 초기화
    if (loginId !== ""){
      $("#loginIdError").text("");
    } if (password !== "") {
       $("#passwordError").text("");
    }
  });

   $("#login-btn").click(function() {
    var loginId = $("#loginId").val();
    var password = $("#password").val();
    if (loginId === "" || password === "") {
      if (loginId === "") {
      $("#loginIdError").text("아이디를 입력해주세요");
    }
    if (password === "") {
      $("#passwordError").text("비밀번호를 입력해주세요");
    }
    return false;
    }
    $(".login-form").submit();
  });
});

</script>
</html>