<html layout:decorate="~{layout}" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <meta name="_csrf" th:content="${_csrf.token}" />
  <meta name="_csrf_header" th:content="${_csrf.headerName}" />
  <!-- 구현 Start -->
  <!-- user-find-form-section start -->
  <section class="form modify-password-form-section">
    <div class="logo-box">
      <img th:src="@{/image/todayGym_logo_main.png}" alt="">
    </div>
    <h3>비밀번호 변경</h3>
    <form class="modify-password-form" th:action="@{/user/modify/password}" method="post">
      <div class="input-box presentPW">
        <input id="presentPW" name="presentPW" type="password" placeholder="현재 비밀번호를 입력해주세요">
        <div class="error" id="presentPWError"></div>
      </div>
      <div class="input-box newPW1">
        <input id="newPW1" name="newPW1" type="password" placeholder="새 비밀번호를 입력해주세요(영문 대소문자, 숫자, 특수문자 조합)">
        <div class="error" id="newPW1Error"></div>
      </div>
      <div class="input-box newPW2">
        <input id="newPW2" name="newPW2" type="password" placeholder="새 비밀번호를 다시 입력해주세요">
        <div class="error" id="newPW2Error"></div>
      </div>
      <button type="button" class="btn" id="modify-password-btn">비밀번호 변경</button>
    </form>
  </section>
  <!-- user-find-form-section end -->
  <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
  $(document).ready(function () {
  //아이디, 비밀번호 입력하면 로그인버튼 스타일변경, input으로 처리해서 실시간임
  $("#presentPW, #newPW1, #newPW2").on("input", function () {
    var presentPW = $("#presentPW").val();
    var newPW1 = $("#newPW1").val();
    var newPW2 = $("#newPW2").val();

    //input 입력 시 비밀번호찾기 버튼 상태값 변경
    if (presentPW !== "" && newPW1 !== "" && newPW2 !== "") {
      $("#modify-password-btn").css("background-color", "black");
    } else {
      $("#modify-password-btn").css("background-color", "");
    }
    //input 입력 시 아이디찾기 버튼 상태값 변경
    if (presentPW !== "") {
      $("#presentPWError").text("");
    }
    //input 입력 시 비밀번호찾기 newPW1Error 초기화
    if (newPW1 !== "") {
      $("#newPW1Error").text("");
    }
    //input 입력 시 비밀번호찾기 newPW2Error 초기화
    if (newPW2 !== "") {
      $("#newPW2Error").text("");
    }

    if (newPW1.length > 0 && !newPW1.match(/(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()\-=+\[\]{}|;:'",<.>\/?])[A-Za-z\d!@#$%^&*()\-=+\[\]{}|;:'",<.>\/?]+/)) {
        $("#newPW1Error").text("영문, 숫자, 특수문자가 포함돼야 합니다").css("color", "red");
    }
    if (newPW1.length > 0 && newPW1.length < 8) {
      $("#newPW1Error").text("최소 8자리를 입력해주세요").css("color", "red");
    }
    if (newPW1 === ""){
    $("#newPW1Error").text("")
    }
    if (newPW2 === "" || newPW1 === ""){
    $("#newPW2Error").text("")
    }
    if (presentPW === newPW2){
    $("#newPW2Error").text("사용중인 비밀번호와 동일합니다").css("color", "red");
    }

    if (newPW2.length < newPW1.length) {
      $("#newPW2Error").text("");
    } else if (newPW2 !== newPW1) {
      $("#newPW2Error")
        .text("비밀번호가 일치하지 않습니다")
        .css("color", "red");
    } else if (newPW1 === newPW2 && newPW1 !== "") {
      $("#newPW2Error")
        .text("비밀번호가 일치합니다")
        .css("color", "rgb(50, 210, 50)");
    }
  });

  $("#modify-password-btn").click(function () {
    var presentPW = $("#presentPW").val();
    var newPW1 = $("#newPW1").val();
    var newPW2 = $("#newPW2").val();
    var hasError = false;
    if (presentPW === "" || newPW1 === "" || newPW2 === "") {
      if (newPW2 === "") {
        $("#newPW2Error")
          .text("새 비밀번호를 다시 입력해주세요")
          .css("color", "red");
        $("#newPW2").focus();
        hasError = true;
      }
      if (newPW1 === "") {
        $("#newPW1Error")
          .text("새 비밀번호를 입력해주세요")
          .css("color", "red");
        $("#newPW1").focus();
        hasError = true;
      }
      if (presentPW === "") {
        $("#presentPWError")
          .text("사용중인 비밀번호를 입력해주세요")
          .css("color", "red");
        $("#presentPW").focus();
        hasError = true;
      }
    }

      if (newPW1.length > 0 && !newPW1.match(/(?=.*[A-Za-z])(?=.*\d)(?=.*[!@#$%^&*()\-=+\[\]{}|;:'",<.>\/?])[A-Za-z\d!@#$%^&*()\-=+\[\]{}|;:'",<.>\/?]+/)) {
        $("#newPW1Error").text("영문, 숫자, 특수문자가 포함돼야 합니다").css("color", "red");
        $("#newPW1").focus();
        hasError = true;
    }

    if (newPW1.length > 0 && newPW1.length < 8) {
      $("#newPW1Error").text("최소 8자리를 입력해주세요").css("color", "red");
      $("#newPW1").focus();
        hasError = true;
    }

    if (newPW1 !== newPW2) {
      $("#newPW2Error")
        .text("비밀번호가 일치하지 않습니다")
        .css("color", "red");
        $("#newPW2").focus();
        hasError = true;
    }
    if (presentPW === newPW2){
    $("#newPW2Error").text("사용중인 비밀번호와 동일합니다").css("color", "red");
    $("#newPW1").focus();
        hasError = true;
    }
    if (hasError) {
      return false;
    }

    $(".modify-password-form").submit();
  });
});
</script>
</html>