<!-- nav-bar-section start -->
<section th:fragment="navbarFragment" class="nav-bar-section">
    <div class="left-box">
        <div class="logo-box">
            <a href="/">oGym</a>
        </div>
        <ul class="left-nav">
            <li><a href="/board">커뮤니티</a></li>
            <li><a href="#">트레이너</a></li>
            <li><a href="#">스토어</a></li>
        </ul>
    </div>
    <div class="right-box">
        <ul class="right-nav">
            <li><a href="/user/find">로그인</a></li>
            <li><a href="/user/signup">회원가입</a></li>
            <li><a href="#">로그아웃</a></li>
            <li><a href="#">문의하기</a></li>
        </ul>
    </div>
</section>
<!-- nav-bar-section end -->