<html layout:decorate="~{layout}">
<script layout:fragment="simplemde" type="text/javascript" th:src="@{/simplemde.min.js}"></script>
<div layout:fragment="content">
  <!-- 구현 Start -->

  <!-- comment-modify-section start -->
  <section class="comment-modify-section">
    <h2><a href="/board">커뮤니티</a></h2>
    <h3>댓글 수정</h3>
    <form th:object="${reCommentForm}" method="post" class="comment-modify-form">
      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
      <div class="comment-modify-body">
        <textarea th:field="*{content}"></textarea>
      </div>
      <div class="modify-btn-box">
        <a th:href="@{|/board/${reComment.getComment().getBoard().getId()}#comment_${reComment.getComment().id}|}" class="btn-sm cancel">취소</a>
        <button type="submit" class="btn-sm">저장하기</button>
      </div>
    </form>
  </section>
  <!-- comment-modify-section end -->
  <!-- 구현 End -->
</div>
<script layout:fragment="script" type='text/javascript'>
    let simpleMde = new SimpleMDE({
        element: $("#content")[0],
        placeholder: "내용을 입력해주세요",
        hideIcons: ["guide", "fullscreen", "side-by-side"]
    });
</script>
</html>