<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- signup-form-section start -->
    <section class="form signup-form-section">
        <div class="logo-box">
            <span>Welcome to</span>
            <span>oGym</span>
        </div>
        <form class="signup-form" th:object="${userCreateForm}" th:action="@{/user/signup}" method="post">
            <div class="input-box loginId">
                <label for="loginId"></label>
                <input class="loginId" th:field="*{loginId}" name="loginId" type="text" placeholder="아이디를 입력해주세요(영문 대소문자, 숫자 조합)">
                <div class="error" id="loginIdError"></div>
            </div>
            <div class="input-box password">
                <label for="password"></label>
                <input th:field="*{password}" type="password" placeholder="비밀번호를 입력해주세요(영문 대소문자, 숫자, 특수문자 조합)">
                <div class="error" id="passwordError"></div>
            </div>
            <div class="input-box passwordCheck">
                <label for="passwordCheck"></label>
                <input th:field="*{passwordCheck}" type="password" placeholder="비밀번호를 다시 한번 입력해주세요">
                <div class="error" id="passwordCheckError"></div>
            </div>
            <div class="input-box nickname">
                <label for="nickname"></label>
                <input th:field="*{nickname}" name="nickname" type="text" placeholder="닉네임을 입력해주세요">
                <div class="error" id="nicknameError"></div>
            </div>
            <div class="input-box username">
                <label for="username"></label>
                <input th:field="*{username}" type="text" placeholder="이름을 입력해주세요">
                <div class="error" id="usernameError"></div>
            </div>
            <div class="input-box phone">
                <label for="phone"></label>
                <input class="phone" th:field="*{phone}" type="text" maxlength="11" pattern="\d*" placeholder="휴대폰 번호에서 '-' 를 제외하고 숫자만 입력해주세요">
                <div class="error" id="phoneError"></div>
            </div>
            <div class="input-box birthDate">
                <label for="birthYear"></label>
                <label for="birthMonth"></label>
                <label for="birthDay"></label>
                <div class="three-part">
                    <input class="margined" th:field="*{birthYear}" type="text" pattern="\d*" maxlength="4"  placeholder="생년(4자)">
                    <input class="margined" th:field="*{birthMonth}" type="text" pattern="\d*" maxlength="2" placeholder="월(2자)">
                    <input th:field="*{birthDay}" type="text" pattern="\d*" maxlength="2" placeholder="일(2자)">
                </div>
                <div class="error" id="birthDateError"></div>
            </div>
            <div class="input-box email">
                <label for="email"></label>
                <div class="two-part">
                    <input class="email" th:field="*{email}" type="email" placeholder="email@example.com">
                    <div class="modify-btn">
                        <span><i class="fa-solid fa-eraser"></i></span>
                    </div>
                    <div class="btn-box">
                        <button type="button" class="btn" id="email-btn">인증번호 발송</button>
                        <div class="timer">03:00</div>
                    </div>
                </div>
                <div class="error" id="emailError"></div>
            </div>
            <div class="input-box code">
                <label for="code"></label>
                <div class="two-part">
                    <input class="code" th:field="*{code}" type="text" placeholder="발송된 인증번호를 입력해주세요">
                    <button type="button" class="btn" id="code-btn">인증번호 확인</button>
                </div>
                <div class="error" id="codeError"></div>
            </div>
            <input type="hidden" th:field=*{genCode} class="form-control">
            <button type="button" class="btn btn-long" id="signup-btn">회원가입</button>
        </form>
    </section>
    <!-- signup-form-section end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
var timer;
$(document).ready(function () {
  //email 버튼 클릭 시 인증번호 발송 및 타이머 작동
  $("#email-btn").click(function () {
    $("#email").prop("disabled", true);
    $(".timer").css("display", "flex");
    $(".timer").text("이메일 발송중").css("font-size", "0.8rem");
    timeRemain = 180;
    clearInterval(timer);
    $.ajax({
      url: "/user/signup/emailConfirm",
      method: "POST",
      data: {
        email: $("#email").val()
      },
      beforeSend: function (xhr) {
        var token = $("meta[name='_csrf']").attr("content");
        var header = $("meta[name='_csrf_header']").attr("content");
        xhr.setRequestHeader(header, token);
      },
      success: function (data) {
        $("input[name=genCode]").attr("value", data);
        timer = setInterval(updateTimer, 1000);
      },
      error: function (data) {
        $(".timer").css("display", "none");
        alert("인증에 실패했습니다");
        $("#email").prop("disabled", false);
      }
    });
  });


  $("#loginId").on("blur", function() {
      var loginId = $(this).val();

      if (loginId.trim() === "") {
        $("#loginIdError").text("").css("color", "red");
      } else if (loginId.match(/[ㄱ-ㅎㅏ-ㅣ]/)) {
        $("#loginIdError").text("사용할 수 없는 아이디입니다.").css("color", "red");
      } else {
        $.ajax({
          url: "signup/loginId",
          method: "GET",
          data: { loginId: loginId },
          success: function(data) {
            console.log(data);
            $("#loginIdError").text(data).css("color", "rgb(50, 210, 50)");
          },
          error: function(xhr, status, error) {
              $("#loginIdError").text(xhr.responseJSON.message).css("color", "red");
          }
        });
      }
    });


  $("#nickname").on("blur", function() {
      var nickname = $(this).val();
      if (nickname.trim() === "") {
        $("#nicknameError").text("").css("color", "red");
      } else if (nickname.match(/[ㄱ-ㅎㅏ-ㅣ]+/g)) {
        $("#nicknameError").text("사용할 수 없는 닉네임입니다").css("color", "red");
      } else {
        $.ajax({
          url: "signup/nickname",
          type: "GET",
          data: { nickname: nickname },
          success: function(data) {
            console.log(data);
            if (data === "") {
              $("#nicknameError").text("");
            } else {
              $("#nicknameError").text(data).css("color", "rgb(50, 210, 50)");
            }
          },
          error: function(xhr, status, error) {
              $("#nicknameError").text(xhr.responseJSON.message).css("color", "red");
          }
        });
      }
    });

    $("#phone").on("blur", function() {
      var phone = $(this).val();
      if (phone.trim() === "") {
        $("#phoneError").text("").css("color", "red");
      } else {
        $.ajax({
          url: "signup/phoneNumber",
          type: "GET",
          data: { phone: phone },
          success: function(data) {
            console.log(data);
            if (data === "") {
              $("#phoneError").text("");
            } else {
              $("#phoneError").text(data).css("color", "rgb(50, 210, 50)");
            }
          },
          error: function(xhr, status, error) {
              $("#phoneError").text(xhr.responseJSON.message).css("color", "red");
          }
        });
      }
    });

    $("#email").keyup(function() {
      var email = $(this).val();
      if (email.trim() === "") {
        $("#emailError").text("").css("color", "red");
      } else {
        $.ajax({
          url: "signup/email",
          type: "GET",
          data: { email: email },
          success: function(data) {
            console.log(data);
            if (data === "") {
              $("#emailError").text("");
            } else {
              $("#emailError").text("").css("color", "rgb(50, 210, 50)");
              $("#email-btn").prop("disabled", false);
            }
          },
          error: function(xhr, status, error) {
              $("#emailError").text(xhr.responseJSON.message).css("color", "red");
              $("#email-btn").prop("disabled", true);
          }
        });
      }
    });



  //input은 해당 개체의 input이 변경될때 이벤트 발생
  //email input 입력시 email-btn 스타일과, modify-btn 숨김, 보임
  $("#email").on("input", function () {
    if ($(this).val() !== "") {
      $("#email-btn").css("background-color", "black");
      $(".modify-btn").show();
    } else {
      $("#email-btn").css("background-color", "");
      $(".modify-btn").hide();
    }
  });

  $(".modify-btn").click(function () {
    $("#emailError, #codeError").text("")
    $("#email, #code").val("").prop("disabled", false);
    $("#email-btn, #code-btn")
      .prop("disabled", false)
      .css("background-color", "").css("pointer-events", "auto");
    $(".modify-btn").hide();
    $(".timer").css("display", "none");
    timeRemain = 180;
  });

  //html에 pattern을 "\d*"로 바꾸면 숫자만 입력되지만 브라우저에따라 문자나 소수점이 들어갈 수 있어 이 처리가 필요하다고함
  $("#phone, #birthYear, #birthMonth, #birthDay").on("input", function() {
    // 입력값에서 숫자 이외의 문자 제거
    $(this).val(function(index, value) {
      // /는 감싸는기호, \D 0-9 제외한 문자, g는 전역검색, 즉 문자는 ""으로 치환하는 함수
      return value.replace(/\D/g, "");
    });
  });

  $("#birthMonth, #birthDay").blur(function () {
    let value = this.value.trim();
    if (this.value.length == 1) {
      this.value = "0" + value;
    }
  });

  //타이머 변수 초기화
  var timeRemain = 180;
  //타이머 함수
  function updateTimer() {
    $(".timer").text("이메일 발송중").css("font-size", "1rem");
    if (timeRemain > 0) {
      timeRemain--;
      var min = Math.floor(timeRemain / 60);
      var sec = timeRemain % 60;
      if (sec < 10) sec = "0" + sec;
      $(".timer").text("0" + min + ":" + sec);
    } else {
      clearInterval(timer);
      $(".timer").css("display", "none");
      //타이머 다시 실행될 수 있으니 값 초기화
      $("#email-btn").prop("disabled", false);
      timeRemain = 180;
    }
  }

  //패스워드체크
  $("#password").keyup(function () {
    var password = $(this).val();
    var passwordCheck = $("#passwordCheck").val();
    if (password.length >= 0) {
      $("#passwordError").text("");
    }
    if (password === passwordCheck && password !== "") {
      $("#passwordCheckError")
        .text("비밀번호가 일치합니다")
        .css("color", "rgb(50, 210, 50)");
      $("#password").text("");
    } else if (password && passwordCheck === "") {
      $("#passwordCheckError").text("");
    } else if (password === "") {
      $("#passwordCheckError").text("");
    } else if (passwordCheck === "") {
      $("#passwordCheckError").text("");
    } else if (password !== passwordCheck) {
      $("#passwordCheckError")
        .text("비밀번호가 일치하지 않습니다.")
        .css("color", "red");
    }
  });

  $("#passwordCheck").keyup(function () {
    var password = $("#password").val();
    var passwordCheck = $(this).val();

    if (passwordCheck.length < password.length) {
      $("#passwordCheckError").text("");
    } else if (passwordCheck !== password) {
      $("#passwordCheckError")
        .text("비밀번호가 일치하지 않습니다")
        .css("color", "red");
    } else if (password === passwordCheck && password !== "") {
      $("#passwordCheckError")
        .text("비밀번호가 일치합니다")
        .css("color", "rgb(50, 210, 50)");
    } else if (password.length < passwordCheck.length) {
      $("#passwordCheckError")
        .text("비밀번호가 일치하지 않습니다")
        .css("color", "red");
    }
  });

  // code input이 변경될때 이벤트 발생
  $("#code").on("input", function () {
    if ($(this).val() !== "") {
      $("#code-btn").css("background-color", "black");
    } else {
      $("#code-btn").css("background-color", "");
    }
  });

  //인증번호 버튼 클릭시 (백엔드에서 구현하면 코드 추가 필요할듯)
  $("#code-btn").click(function () {
    var code = $("#code").val();
    var genCode = $("#genCode").val();

    if (code !== "" && genCode) {
      $.ajax({
        url: "/user/signup/code",
        method: "GET",
        data: {
          genCode: genCode,
          code: code
        },
        success: function (data) {
          if (data === "success") {
            $("#code-btn, #email-btn")
              .prop("disabled", true)
              .css("background-color", "").css("pointer-events", "none");;
            $("#code").prop("disabled", true);
            $(".timer").hide();
            $("#codeError")
              .text("인증이 완료되었습니다.")
              .css("color", "rgb(50, 210, 50)");
          }
        },
        error: function (res) {
          $("#codeError").text(res.responseJSON.message);
        }
      });
    }
  });

  //모든 값이 입력되면 회원가입버튼 색상변경(genCode 값도 필요하여 인증번호 발송도 정상적으로 돼야함)
  $(
    "#loginId, #password, #passwordCheck, #nickname, #username, #phone, #birthYear, #birthMonth, #birthDay, #email, #code, #genCode"
  ).on("input", function () {
    var allFieldsFilled = true;

    //each는 반복작업을 하는 매소드, 아래 input값중 하나라도 ""이 되면 signup-btn 스타일 변경
    $(
      "#loginId, #password, #passwordCheck, #nickname, #username, #phone, #birthYear, #birthMonth, #birthDay, #email, #code, #genCode"
    ).each(function () {
      if ($(this).val() === "") {
        allFieldsFilled = false;
        return false;
      }
    });

    if (allFieldsFilled) {
      $("#signup-btn").css("background-color", "black");
    } else {
      $("#signup-btn").css("background-color", "");
    }
  });

  //input 빈값에 값을 입력하면 출력된 오류메시지 초기화
  $(
    "#loginId, #nickname, #username, #phone, #birthYear, #birthMonth, #birthDay, #email, #code"
  ).keyup(function () {
    var id = $(this).attr("id");
    var errorId = "#" + id + "Error";
    $(errorId).text("");
    if (
      $("#birthYear").val() !== "" ||
      $("#birthMonth").val() !== "" ||
      $("#birthDay").val() !== ""
    ) {
      $("#birthDateError").text("");
    }
  });
  //회원가입 버튼 이벤트
  $(".btn-long").click(function () {
    var hasError = false;

    if ($("#code").val() === "") {
      $("#codeError").text("인증번호를 입력해주세요");
      $("#code").focus();
      hasError = true;
    } else if ($("#codeError").text() === "" || $("#codeError").text().includes("일치하지")) {
      $("#codeError").focus();
      hasError = true;
    }

    if ($("#email").val() === "") {
      $("#emailError").text("이메일을 입력해주세요");
      $("#email").focus();
      hasError = true;
      }else if ($("#emailError").text().includes("사용중인")) {
      $("#email").focus();
      hasError = true;
    }

    if ($("#birthYear").val() === "") {
      $("#birthYear").focus();
    } else if ($("#birthMonth").val() === "") {
      $("#birthMonth").focus();
    } else if ($("#birthDay").val() === "") {
      $("#birthDay").focus();
    }

    if (
      $("#birthYear").val() === "" ||
      $("#birthMonth").val() === "" ||
      $("#birthDay").val() === ""
    ) {
      $("#birthDateError").text("생년월일을 입력해주세요");
      hasError = true;
    }

    if ($("#phone").val() === "") {
      $("#phoneError").text("휴대폰번호를 입력해주세요");
      $("#phone").focus();
      hasError = true;
    }else if ($("#phoneError").text().includes("사용중인")) {
      $("#phone").focus();
      hasError = true;
    }

    if ($("#username").val() === "") {
      $("#usernameError").text("이름을 입력해주세요");
      $("#username").focus();
      hasError = true;
    } else if (username.match(/[ㄱ-ㅎㅏ-ㅣ0-9]/)) {
      $("#usernameError").text("한글, 영문명을 입력해주세요.").css("color", "red");
      $("#username").focus();
      hasError = true;
    }

    if ($("#nickname").val() === "") {
      $("#nicknameError").text("닉네임을 입력해주세요");
      $("#nickname").focus();
      hasError = true;
    } else if ($("#nicknameError").text().includes("사용중인") || $("#nicknameError").text().includes("사용할")) {
      $("#nickname").focus();
      hasError = true;
    }

    if ($("#passwordCheck").val() === "") {
      $("#passwordCheckError")
        .text("비밀번호를 입력해주세요")
        .css("color", "red");
      $("#passwordCheck").focus();
      hasError = true;
    }

    if ($("#password").val() === "") {
      $("#passwordError").text("비밀번호를 입력해주세요").css("color", "red");
      $("#password").focus();
      hasError = true;
    }

    if ($("#loginId").val() === "") {
      $("#loginIdError").text("아이디를 입력해주세요");
      $("#loginId").focus();
      hasError = true;
    }else if ($("#loginIdError").text().includes("사용중인") || $("#loginIdError").text().includes("사용할")) {
      $("#loginId").focus();
      hasError = true;
    }

    if ($("#passwordCheck") === "") {
      $("#passwordCheckError")
        .text("비밀번호를 입력해주세요")
        .css("color", "red");
      hasError = true;
    } else if (
      $("#password").val() !== $("#passwordCheck").val() &&
      $("#passwordCheck").val() !== ""
    ) {
      $("#passwordCheckError")
        .text("비밀번호가 일치하지 않습니다")
        .css("color", "red");
      $("#passwordCheck").focus();
      hasError = true;
    }
    if (hasError) {
      return false;
    }
    $("#email, #code").prop("disabled", false);
    $(".signup-form").submit();
    sessionStorage.setItem("signupSuccess", "true");
  });
});
</script>
</html>
