<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- trainer-header-section start -->
    <section th:replace="~{trainer_header :: trainer_headerFragment}"></section>
    <!-- trainer-header-section end -->

    <!-- trainer-detail-header start -->
    <section class="trainer-detail-header">
        <div class="inner-container">
            <div class="profile-img-box">
                <img src="https://cdn.monsterzym.com/images//community_uploads/thumbnails/trainer/introduce/3531279118_8dfc9177_%ED%95%9C%EC%83%81%EC%97%BD.jpg" alt="">
                <span class="trainer-name">한상엽</span>
                <span class="trainer-address">서울 종로</span>
            </div>
            <div class="profile-abstract-box">
                <div class="info-detail">
                    <div class="info-abstract">
                        건강한 삼대운동으로 강하게!
                    </div>
                    <div class="info-lesson">
                        PT 10회 기준 회당 70,000원
                    </div>
                    <div class="info-center">
                        몬스터짐 광화문
                    </div>
                </div>
                <div class="info-field">
                    <span>#웨이트</span>
                    <span>#스트레칭</span>
                    <span>#재활</span>
                    <span>#다이어트</span>
                    <span>#대회준비</span>
                    <span>#지구력</span>
                    <span>#건강관리</span>
                </div>
            </div>
        </div>
    </section>
    <!-- trainer-detail-header end -->

    <!-- trainer-detail-classification start -->
    <section class="trainer-detail-classification">
        <div class="classify-btn-box">
            <button class="information">정보</button>
            <button class="used-product">사용제품</button>
            <button class="board">커뮤니티</button>
        </div>
    </section>
    <!-- trainer-detail-classification end -->

    <!-- trainer-information-section start -->
    <section class="trainer-information-section">
        <div class="inner-container">
            <img src="https://cdn.monsterzym.com/images//community_uploads/thumbnails/trainer/introduce/3531279118_8dfc9177_%ED%95%9C%EC%83%81%EC%97%BD.jpg" alt="">
            <img src="https://cdn.monsterzym.com/images//community_uploads/thumbnails/trainer/introduce/3531279118_e711e19e_%ED%95%98%EC%83%81%EC%95%84.png" alt="">
            <div class="interval">

                스쾃 벤치프레스 데드리프트로 보디빌딩을 하여 3대기록도 올리고, 체형도 완성합니다.
                지체지기 백세불통(知軆知己 百歲不痛) 내 몸을 알고 백세까지 건강하게 항상 건강하게 운동합시다.</div>
        </div>
        <div class="inner-container trainer-field">
            <h3>트레이닝 종목</h3>
            <div class="info-field">
                <span>#웨이트</span>
                <span>#스트레칭</span>
                <span>#재활</span>
                <span>#다이어트</span>
                <span>#대회준비</span>
                <span>#지구력</span>
                <span>#건강관리</span>
            </div>
        </div>
        <div class="inner-container trainer-center">
            <h3>소속 센터</h3>
            <div class="info-center">
                <span>몬스터짐 광화문</span>
            </div>
        </div>
        <div class="inner-container trainer-certificate">
            <h3>보유 자격증 [5]</h3>
            <div class="certificate-list-box">
                <div class="certificate-list">
                    <div class="certificate-name">
                        <i class="fa-solid fa-medal"></i>
                        <span>루피</span>
                    </div>
                    <div class="certificate-img">
                        <img src="//img1.daumcdn.net/thumb/R1280x0.fjpg/?fname=http://t1.daumcdn.net/brunch/service/user/cqWN/image/XnpNmxETZywTbSNav2LupmhSiy0" alt="">
                    </div>
                </div>
                <div class="certificate-list">
                    <div class="certificate-name">
                        <i class="fa-solid fa-medal"></i>
                        <span>뽀로로</span>
                    </div>
                    <div class="certificate-img">
                        <img src="https://i.namu.wiki/i/olVOIF0ve6_P-dOCgQU8GW74KLgxJxL5VPEHuwSnUe7dxvl0KOhjM2SANhkt546zcdW0SaFwdA-eYzGa84CnkVX2bKQ16AjqORdBTwUJtZ1p6vaIVHQ6rrkWVZtYPyc1bTmH8u6mi_Cx5vRfB5qAKg.webp" alt="">
                    </div>
                </div>
                <div class="certificate-list">
                    <div class="certificate-name">
                        <i class="fa-solid fa-medal"></i>
                        <span>크롱</span>
                    </div>
                    <div class="certificate-img">
                        <img src="https://i.namu.wiki/i/Uf0f0uKi71u0dNf6ygylCk1zEGtrwHmVwR7A92vlSqNpPfdm90YjqN6s5v3miUtqnyzIN7QcT1z5VcEzWHkN6_M9x1D-HnvmvyO_htJ-u1Nnkpu-WlLGHHrlxN3GfOHbm62wZ4VMH1a3-0zlWUVVfg.webp" alt="">
                    </div>
                </div>
                <div class="certificate-list">
                    <div class="certificate-name">
                        <i class="fa-solid fa-medal"></i>
                        <span>패티</span>
                    </div>
                    <div class="certificate-img">
                        <img src="https://i.namu.wiki/i/0S1dW1oNDouGd3mZlM_bmOnpZQK_7Ybx5FbDo9exuxxFep90SUegGcMndeU-i3LWArQlnBMgTrT670CMm_tgMLo-X3b65mQzJQBFMnsclOO_TBBYQbGWMIzn8HZvQumysxFPRXhb_LsR-fAOXR2mUw.webp" alt="">
                    </div>
                </div>
                <div class="certificate-list">
                    <div class="certificate-name">
                        <i class="fa-solid fa-medal"></i>
                        <span id="top">몽키 D. 루피</span>
                    </div>
                    <div class="certificate-img">
                        <img src="https://m.media-amazon.com/images/I/71P6xih4-DL._AC_SX679_.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-container lesson-contacts">
            <div class="left-box">
                <h3>레슨 이용가격</h3>
                <div class="lesson-list-box">
                    <div class="lesson-list">
                        <div class="number">10회</div>
                        <div class="price-box">
                            <div class="unit-price">회당 70,000원</div>
                            <div class="total-price">700,000원</div>
                        </div>
                    </div>
                    <div class="lesson-list">
                        <div class="number">20회</div>
                        <div class="price-box">
                            <div class="unit-price">회당 65,000원</div>
                            <div class="total-price">1,300,000원</div>
                        </div>
                    </div>
                    <div class="lesson-list">
                        <div class="number">30회</div>
                        <div class="price-box">
                            <div class="unit-price">회당 65,000원</div>
                            <div class="total-price">1,950,000원</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box">
                <h3>연락처</h3>
                <div class="contacts-list-box">
                    <div class="contacts-list">
                        <span class="type">카카오톡</span>
                        <span class="content">LYH1997</span>
                    </div>
                    <div class="contacts-list">
                        <span class="type">인스타그램</span>
                        <span class="content">mangwalker97</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- trainer-information-section end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
    $(document).ready(function () {
	$("html, body").animate(
		{
			scrollTop: $("section.trainer-detail-header").offset().top
		},
		0
	);
});

</script>
</html>