<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 Start -->
  <section>
    <form th:action="@{/trainer/items}" th:object=${trainerItemForm} method="post">
      <div role="alert" th:if="${#fields.hasAnyErrors()}">
        <div th:each="err : ${#fields.allErrors()}" th:text="${err}" />
      </div>
      <!--            단일태그는 testInput-->
      <div th:each="trainerItem : ${trainerItemList}">
        <input type="checkbox" th:field="*{name}" th:value="${trainerItem.name}">
        <label th:for="${#ids.prev('name')}" th:text=${trainerItem.name}></label>
      </div>
      <button type="submit">제출</button>
    </form>
  </section>
  <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
      function button1(s){
        console.log(s);
      }
</script>
</html>