<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:class="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <form th:action="@{/trainer/register}" th:object="${trainerCreateForm}" method="post">
        <!--  실명  -->
        <!--        <div class="tr-3">-->
        <!--            <label for="trainerInfo" >실명-->
        <!--                <span class="check-field">*</span>-->
        <!--            </label>-->
        <!--            <input type="text" th:field="*{trainerInfo}" class="form-control">-->
        <!--        </div>-->
        <!-- 센터에서사용하는 이름   -->
        <div class="tr-3">
            <label for="name">닉네임
                <span class="check-field">*</span>
            </label>
            <input type="text" th:field="*{name}">
        </div>
        <!--           성별-->
        <!--        <h2>성별</h2>-->
        <!--        <div class="tr-3">-->
        <!--            <input type="radio" th:field="*{gender}" th:value="남자">-->
        <!--            <label th:for="${#ids.prev('gender')" th:text="남자"></label>-->
        <!--            <input type="radio" th:field="*{gender}" th:value="여자">-->
        <!--            <label th:for="${#ids.prev('gender')" th:text="여자"></label>-->
        <!--        </div>-->
        <!--         지도종목 -->


        <!--            단일태그는 testInput-->
<!--        <div th:each="trainerItem : ${trainerItem}">-->
<!--            <input type="checkbox" th:field="*{name}" th:value="${trainerItem.name}">-->
<!--            <label th:for="${#ids.prev('name')}" th:text=${trainerItem.name}></label>-->
<!--        </div>-->
<!--        <div>-->
<!--            <label for="info">레슨정보</label>-->
<!--                <input type="text" th:field="*{number}">회-->
<!--                <input type="text" th:field="*{price}">원-->
<!--            <button type="submit">등록하기</button>-->
<!--        </div>-->
<!--          센터-->

        <!--         센터 주소 -->
        <div class="tr-3">
            <label for="center">
                활동중인센터
                <span class="check-field">*</span>
            </label>
            <input type="text" th:field="*{center}">
        </div>
        <div class="tr-3">
            <label for="address">
                주소
                <span class="check-field">*</span>
            </label>
            <input type="text" th:field="*{address}">

        </div>
        <div class="tr-3">
            <input type="text" th:field="*{address}">
            <button type="submit">주소찾기</button>
            <br>
            <input type="text" th:field="*{address}">
        </div>
<!--        <div>-->
<!--            <label for="number">-->
<!--                연락처-->
<!--                <input type="text" th:field="*{number}">-->
<!--            </label>-->
<!--        </div>-->


        <div>
            <label for="introAbstract"> 짧은 자기소개 </label>
            <input type="text" th:field="*{introAbstract}">

        </div>
        <div>
            <label for="introDetail">자기소개
            </label>
            <textarea name="introDetail" id="intro" cols="30" rows="10"></textarea>
        </div>

        <button type="submit">등록하기</button>
    </form>
    </body>
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
</script>
</html>