<html layout:decorate="~{layout}">
<script layout:fragment="simplemde" type="text/javascript" th:src="@{/simplemde.min.js}"></script>
<script layout:fragment="api_address" type="text/javascript" src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script layout:fragment="api_map" type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a1cfff8a090a4615c9bacd5933a522f6&libraries=services"></script>
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- trainer-form-section start -->
    <section class="trainer-form-section form-medium">
        <div class="logo-box">
            <span>Road to</span>
            <span>WrestleMania VIXIV</span>
        </div>
        <form class="trainer-form" th:action="@{/trainer/register}" th:object="${trainerForm}" method="post" enctype="multipart/form-data">
            <ul>
                <li class="type">이름</li>
                <li class="content">
                    <input type="text" th:value="${trainerForm.username}" disabled placeholder="이름을 입력해주세요.">
                    <input type="hidden" th:field="*{username}" placeholder="이름을 입력해주세요.">
                </li>
            </ul>
            <ul>
                <li class="type">소속 센터</li>
                <li class="content">
                    <input type="text" th:field="*{center}" placeholder="활동중인 소속 센터 이름을 입력해주세요.">
                </li>
            </ul>
            <ul>
                <li class="type">성별</li>
                <li class="content">
                    <div class="check-box check-male">
                        <input class="select-input" type="radio" th:field="*{gender}" value="남자">
                        <label th:for="${#ids.prev('gender')}">남자</label>
                    </div>
                    <div class="check-box check-female">
                        <input class="select-input" type="radio" th:field="*{gender}" value="여자">
                        <label th:for="${#ids.prev('gender')}">여자</label>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="type">주소</li>
                <li class="content">
                    <div class="address-box">
                        <div>
                            <input onclick="_zoneCode()" type="text" class="zoneCode" th:field="*{address.zoneCode}"
                                   placeholder="우편번호를 입력해주세요.">
                            <button class="btn" type="button" onclick="_zoneCode()">우편번호 찾기</button>
                        </div>
                        <div class="address-input">
                            <input type="text" class="mainAddress" th:field="*{address.mainAddress}" placeholder="주소를 입력해주세요.">
                        </div>
                        <div>
                            <input type="text" class="subAddress" th:field="*{address.subAddress}" placeholder="상세주소를 입력해주세요.">
                        </div>
                        <input type="hidden" class="latitude" th:field="*{address.latitude}">
                        <input type="hidden" class="longitude" th:field="*{address.longitude}">
                    </div>
                </li>
            </ul>
            <ul>
                <li class="type">간략한 소개</li>
                <li class="content">
                    <input type="text" th:field="*{introAbstract}" placeholder="간략한 소개를 입력해주세요.">
                </li>
            </ul>
            <ul>
                <li class="type">자세한 소개</li>
                <li class="content">
                    <div class="introDetail-box">
                        <textarea type="text" th:field="*{introDetail}" placeholder="자세한 소개를 입력해주세요."></textarea>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="type">트레이닝 종목</li>
                <li class="content field">
                    <div class="check-box check-field" th:each="field : ${fieldList}">
                        <input class="select-input" type="checkbox" th:field="*{fieldList}" th:value="${field.name}">
                        <label th:for="${#ids.prev('fieldList')}" th:text=${field.name}></label>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="type">레슨 비용</li>
                <li class="content lesson">
                    <div class="lesson-box" th:each="lesson, loop : ${lessonList}">
                        <div class="lesson-time">
                            <input type="text" th:value="${lesson.time}" th:field="*{lessonList[__${loop.index}__].time}">
                            <span>회</span>
                        </div>
                        <div class="lesson-price">
                            <input type="text" th:value="${lesson.price}" th:field="*{lessonList[__${loop.index}__].price}">
                            <span>원</span>
                        </div>
                    </div>
                </li>
            </ul>
            <ul>
                <li class="type">자격증</li>
                <li class="content certificate">
                    <div class="certificate-box" th:each="certificate, loop : ${certificateList}">
                        <div class="certificate-name">
                            <input type="text" th:value="${certificate.name}" th:field="*{certificateList[__${loop.index}__].name}"
                                   placeholder="자격증 이름을 입력해주세요.">
                        </div>
                        <div class="certificate-imgUrl">
                            <div class="uploaded-file-name">자격증 이미지를 업로드 해주세요.</div>
                            <input type="file" th:value="${certificate.image}" th:field="*{certificateList[__${loop.index}__].image}"
                                   placeholder="자격증 이미지를 업로드 해주세요." th:onchange="_getFileName(this)">
                            <label th:for="|certificateList${loop.index}.image|"><i class="fa-solid fa-cloud-arrow-up"></i></label>
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="contact-list">
                <li class="type">연락처</li>
                <li class="content contact">
                    <div class="contact-box" th:each="contact, loop : ${contactList}">
                        <div class="contact-type">
                            <input type="text" th:value="${contact.type}" th:field="*{contactList[__${loop.index}__].type}"
                                   placeholder="연락처 종류를 입력해주세요.">
                        </div>
                        <div class="contact-content">
                            <input type="text" th:value="${contact.content}" th:field="*{contactList[__${loop.index}__].content}"
                                   placeholder="연락처를 입력해주세요.">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="btn-list">
                <li class="type"></li>
                <li class="content">
                    <button class="btn btn-long" type="submit">트레이너 등록하기</button>
                </li>
            </ul>
        </form>
        <div id="map" style="width:500px;height:400px;"></div>
    </section>
    <!-- trainer-form-section end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
    let simpleMde = new SimpleMDE({
        element: $("#introDetail")[0],
        placeholder: "자세한 소개를 입력해주세요",
        hideIcons: ["guide", "fullscreen", "side-by-side"]
    });

    function _zoneCode() {
        new daum.Postcode({
            oncomplete: function (data) {
                var mainAddress = "";

                if (data.userSelectedType === "R") {
                    mainAddress = data.roadAddress;
                } else {
                    mainAddress = data.jibunAddress;
                }

                $(".zoneCode").val(data.zonecode);
                $(".mainAddress").val(mainAddress);
                $(".subAddress").focus();

                var geocoder = new kakao.maps.services.Geocoder();

                geocoder.addressSearch(mainAddress, function(result, status) {
                     if (status === kakao.maps.services.Status.OK) {
                        $(".latitude").val(result[0].y);
                        $(".longitude").val(result[0].x);
                    }
                });
            }
        }).open();
    }

    function _getFileName(_this) {
        var fileValue = $(_this).val().split("\\");
        var fileName = fileValue[fileValue.length-1];

        $(_this).siblings("div.uploaded-file-name").html(fileName);
        $(_this).siblings("div.uploaded-file-name").addClass("active");
    }

</script>
</html>