<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- trainer-header-section start -->
    <section th:replace="~{trainer_header :: trainer_headerFragment}"></section>
    <!-- trainer-header-section end -->

    <!-- trainer-detail-header start -->
    <section class="trainer-detail-header">
        <div class="inner-container">
            <div class="profile-img-box">
                <img src="https://cdn.monsterzym.com/images//community_uploads/thumbnails/trainer/introduce/3531279118_8dfc9177_%ED%95%9C%EC%83%81%EC%97%BD.jpg" alt="">
                <span class="trainer-name">한상엽</span>
                <span class="trainer-address">서울 종로</span>
            </div>
            <div class="profile-abstract-box">
                <div class="info-detail">
                    <div class="info-abstract">
                        건강한 삼대운동으로 강하게!
                    </div>
                    <div class="info-lesson">
                        PT 10회 기준 회당 70,000원
                    </div>
                    <div class="info-center">
                        몬스터짐 광화문
                    </div>
                </div>
                <div class="info-field">
                    <span>#웨이트</span>
                    <span>#스트레칭</span>
                    <span>#재활</span>
                    <span>#다이어트</span>
                    <span>#대회준비</span>
                    <span>#지구력</span>
                    <span>#건강관리</span>
                </div>
            </div>
        </div>
    </section>
    <!-- trainer-detail-header end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
    function _anonymous() {
        if(confirm("로그인이 필요한 서비스입니다.\n확인을 누르시면 로그인 페이지로 이동합니다.")) {
            location.href = "/user/login";
        }
    }
</script>
</html>