<html layout:decorate="~{layout}">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- trainer-header-section start -->
    <section th:replace="~{trainer_header :: trainer_headerFragment}"></section>
    <!-- trainer-header-section end -->

    <!-- trainer-detail-header start -->
    <section class="trainer-detail-header">
        <div class="inner-container">
            <div class="profile-img-box">
                <img src="https://cdn.monsterzym.com/images//community_uploads/thumbnails/trainer/introduce/3531279118_8dfc9177_%ED%95%9C%EC%83%81%EC%97%BD.jpg"
                     alt="">
                <span class="trainer-name" th:text="${trainer.userInfo.username}"></span>
                <span class="trainer-address" th:text="${trainer.address.mainAddress}"></span>
            </div>
            <div class="profile-abstract-box">
                <div class="info-detail">
                    <div class="info-abstract">
                        <span class="trainer-intro-abstract" th:text="${trainer.introAbstract}"></span>
                    </div>
                    <div class="info-lesson">
                        PT 10회 기준 회당 70,000원
                    </div>
                    <div class="info-center">
                        <span class="trainer-center" th:text="${trainer.center}"></span>
                    </div>
                </div>
                <div class="info-field">
                    <span th:each="field : ${trainer.fieldList}" th:text="|#${field.name} |"></span>
                </div>
            </div>
        </div>
    </section>
    <!-- trainer-detail-header end -->

    <!-- trainer-detail-classification start -->
    <section class="trainer-detail-classification">
        <div class="classify-btn-box">
            <button class="information">정보</button>
            <button class="board">커뮤니티</button>
        </div>
    </section>
    <!-- trainer-detail-classification end -->

    <!-- trainer-information-section start -->
    <section class="trainer-information-section">
        <div class="inner-container">
            <div class="interval">

                <span class="trainer-introDetail" th:text="${trainer.introDetail}"></span>.
            </div>
        </div>
        <div class="inner-container trainer-field">
            <h3>트레이닝 종목</h3>
            <div class="info-field">
                <span>#웨이트</span>
                <span>#스트레칭</span>
                <span>#재활</span>
                <span>#다이어트</span>
                <span>#대회준비</span>
                <span>#지구력</span>
                <span>#건강관리</span>
            </div>
        </div>
        <div class="inner-container trainer-center">
            <h3>소속 센터</h3>
            <div class="info-center">
                <span class="trainer-center" th:text="${trainer.center}"></span>
            </div>
        </div>
        <div class="inner-container trainer-certificate">
            <h3>보유 자격증 [<span th:text="${#lists.size(trainer.certificateList)}"></span>]</h3>
            <div class="certificate-list-box">
                <div class="certificate-list" th:each="certificate :${trainer.certificateList}">
                    <div class="certificate-name" >
                        <i class="fa-solid fa-medal"></i>
                        <span th:text="${certificate.name}"></span>
                    </div>
                    <div class="certificate-img" th:text="${certificate.imgUrl}">
                    </div>
                </div>
            </div>
        </div>
        <div class="inner-container lesson-contacts">
            <div class="left-box">
                <h3>레슨 이용가격</h3>
                <div class="lesson-list-box">
                    <div class="lesson-list" th:each="lesson:${trainer.lessonList}">
                        <div class="number" th:text="${lesson.number}+'회'"></div>
                        <div class="price-box">
                            <div class="unit-price" th:text="|회당 ${#numbers.formatInteger(lesson.price/lesson.number, 0, 'COMMA')} 원|"></div>
                            <div class="total-price" th:text="|${#numbers.formatInteger(lesson.price, 0, 'COMMA')} 원|"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right-box">
                <h3>연락처</h3>
                <div class="contacts-list-box">
                    <div class="contacts-list" th:each="contact:${trainer.contactList}">
                        <span th:text="${contact.type}"></span>
                        <span th:text="${#strings.substring(contact.content, 0, 3) + '-' + #strings.substring(contact.content, 3, 7) + '-' + #strings.substring(contact.content, 7)}"></span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- trainer-information-section end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
    $(document).ready(function () {
	$("html, body").animate(
		{
			scrollTop: $("section.trainer-detail-header").offset().top
		},
		0
	);
});


</script>
</html>