<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
    <!-- 구현 Start -->
    <!-- trainer-header-section start -->
    <section th:replace="~{trainer_header :: trainer_headerFragment}"></section>
    <!-- trainer-header-section end -->

    <!-- trainer-list-section start -->
    <section class="trainer-list-section">
        <div class="trainer-list-header">
            <div class="header-left-box">
                <div>
                    <span>전체</span>
                    <span class="comment-number">123</span>
                </div>
            </div>
            <div class="header-right-box">
                <span>위치</span>
                <span>성별</span>
                <span>등록순</span>
            </div>
        </div>
        <div class="trainer-list-body">
            <div class="trainer-list" th:each="trainer : ${trainerPaging}">
                <div class="profile-img-box">
                    <img th:src="@{/image/user_profile.jpg}" alt="">
                </div>
                <div class="profile-detail-box">
                    <div class="detail-header">
                        <span class="trainer-name"><a th:href="@{|/trainer/${trainer.id}|}" th:text="${trainer.userInfo.username}"></a></span>
                        <span class="trainer-address" th:text="${@commonUtil.reduceAddress(trainer.address.mainAddress)}"></span>
                    </div>
                    <div class="info-abstract" th:text="${trainer.introAbstract}"></div>
                    <div class="info-detail">
                        <div class="info-lesson">
                            PT 10회 기준 회당 70,000원
                        </div>
                        <div class="delimiter"></div>
                        <div class="info-center" th:text="${trainer.center}"></div>
                    </div>
                    <div class="info-field">
                        <span th:each="field : ${trainer.fieldList}" th:text="|#${field.name} |"></span>
                    </div>
                </div>
            </div>
        </div>
        <ul class="page-list">
            <li class="page-start">처음</li>
            <li class="page-middle"><i class="fa-solid fa-angles-left"></i></li>
            <li class="page-middle"><i class="fa-solid fa-angle-left"></i></li>
            <li class="page-middle page-active">1</li>
            <li class="page-middle">2</li>
            <li class="page-middle">3</li>
            <li class="page-middle">4</li>
            <li class="page-middle">5</li>
            <li class="page-middle"><i class="fa-solid fa-angle-right"></i></li>
            <li class="page-middle"><i class="fa-solid fa-angles-right"></i></li>
            <li class="page-end">끝</li>
        </ul>
    </section>
    <!-- trainer-list-section end -->
    <!-- 구현 End -->
</div>
<script layout:fragment="script" type="text/javascript">
</script>
</html>