<html layout:decorate="~{layout}" xmlns:layout="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<div layout:fragment="content">
  <!-- 구현 Start -->
  <form th:action="@{/trainer/price}" method="post" th:object="${trainerLesson}">
    <label for="info">레슨정보</label>
    <input type="text" th:field="*{number}">회
    <input type="text" th:field="*{price}">원
    <button type="submit">등록하기</button>
  </form>
  <!-- 구현 End -->

</div>
<script layout:fragment="script" type="text/javascript">
</script>
</html>